body{ font-family: 'Open Sans', helvetica, arial;}
.fixed-header{ padding-top: 40px; }
.intro{
    color: #E4F1F6;
    font-size: 2em;
    border-bottom: 1px dotted #BED0DA;
    padding-bottom: 8px;
    margin-bottom: 34px;
    text-shadow: 0px 1px 0px #2C2C2C;
}
.navbar-inverse .navbar-inner{
    padding: 0px;
    background: #185179;
    min-height: 40px
}
.navbar-inverse a.brand{ color: #fff; font-weight: bold;}
.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus{
    background: none;
    text-shadow: none;
    color: #fff;
    box-shadow: none;
}
.navbar-inverse .nav li.dropdown.open>.dropdown-toggle{
    background-color: #103047;
}
.navbar-inverse .brand, .navbar-inverse .nav > li > a{ color: #90ADC2; font-weight: bold; }
.navbar .brand{
    margin-left: 0;
}
.sidebar-collapse{
    padding: 10px 0px 9px 0px;
    border-bottom: 1px solid #e0e0e0;
    background-color: #f3f3f3;
    text-align: center;
    position: relative;
}
.sidebar-collapse:before{
    top: 20px;
    content: "";
    display: inline-block;
    height: 0;
    border-top: 1px solid #e0e0e0;
    position: absolute;
    left: 15px;
    right: 15px;
}
.sidebar-collapse>[class*="icon-"] {
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    color: #aaa;
    border: 1px solid #bbb;
    padding: 0 5px;
    line-height: 18px;
    border-radius: 16px;
    background-color: #fff;
    position: relative;
}
.btn{
    border-width: 4px;
}
.btn:hover{
    background-color: #C6D2DA;
}
.btn:active{
    background: #BDCAD3;
}
.acubor-splash{
    margin-top: 15px;
}
.acubor-splash img{
    height: 348px;
}
.border-wrap{
    padding: 15px;
}
.border-wrap{
    color: #fff;
}
.outer-container{
    padding: 40px 0px 0px;
    background: #60a3d8;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzYwYTNkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY4JSIgc3RvcC1jb2xvcj0iIzJhNTM2OSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMxYjNiNGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #60a3d8 0%, #2a5369 68%, #1b3b4a 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#60a3d8), color-stop(68%,#2a5369), color-stop(100%,#1b3b4a));
    background: -webkit-linear-gradient(top,  #60a3d8 0%,#2a5369 68%,#1b3b4a 100%);
    background: -o-linear-gradient(top,  #60a3d8 0%,#2a5369 68%,#1b3b4a 100%);
    background: -ms-linear-gradient(top,  #60a3d8 0%,#2a5369 68%,#1b3b4a 100%);
    background: linear-gradient(to bottom,  #60a3d8 0%,#2a5369 68%,#1b3b4a 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a3d8', endColorstr='#1b3b4a',GradientType=0 );

}
.block-boxes{ margin-top: 50px; font-size: .9em;}
.block-boxes h3{ margin-top: 0; color: rgb(33, 101, 163);}
.block-boxes .well{ background: none;}
.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
input.full-width {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
}
@media (max-width: 980px) {
    body {
        padding-top: 0;
    }
    .navbar-fixed-top{
        margin-bottom: 0;
    }
}
.header-login{
    color: #fff;
}
#user_registration_new  p,#user_login_new p, form .control-group{
    display: inline-block;
    color: #fff;
    vertical-align: top;
}
#user_registration_new textarea{
    height: 20px;
}
.errorlist{
    list-style: none;
    margin: 0;
    font-size: 11px;
    padding: 0px 4px;
}
.arrow_box {
    position: relative;
    background: #f2dede;
    color: rgb(185, 74, 72);
    border: 1px solid rgb(253, 146, 146);
    margin-bottom: 10px;
}
.arrow_box:after, .arrow_box:before {
    bottom: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}
.arrow_box:after {
    border: 6px rgba(255, 102, 97, 0);
    border-bottom-color: #f2dede;
    left: 50%;
    margin-left: -6px;
}
.arrow_box:before {
    border: 7px rgba(255, 64, 64, 0);
    border-bottom-color: rgb(207, 100, 100);
    left: 50%;
    margin-left: -7px;
}
#page-content .page-header:first-child h1{
    margin: 0;
    font-weight: bold;
}