body{
    font-size: 10px;
}
.drag_handle, .select2-arrow, .btn, button, .navbar, #sidebar, #breadcrumbs {
    display: none !important;
}

#page-contnet {
    padding: 0;
}

#main-content {
    margin-left: 0;
}

#ace-settings-container {
    display: none;
}

td .select2-container .select2-choice {
    border: none;
}

/*General print styles*/

h2, h3 {
    page-break-after: avoid;
}

img {
    max-width: 100% !important;
}

article {
    page-break-before: always;
}

ul, img {
    page-break-inside: avoid;
}

h1 {
    color: #000;
    background: none;
}

nav, aside {
    display: none;
}

body, article {
    width: 100%;
    margin: 0;
    padding: 0;
}

@page {
    margin: 2cm;
}

.no-print {
    display: none;
}

.do-print {
    display: inline-block !important;
    opacity: 1;
}

.print-only {
    display: inline-block !important;
    opacity: 1;
}

.page-break {
    display: block;
    page-break-before: always;
}
.modal{
    position: static;
    margin-left: 0;
    width: 100%;
    border: 0;
    left: 0;
}
.modal-body{
    position: static;
    width: 100%;
    overflow: visible;
    padding: 0px;
}
h1{
    font-size: 20px;
}
h2{
    font-size: 14px;
    margin: 0;
    padding: 0px;
    font-weight: bold;
}
table td, .table-acubor td{
    padding: 2px;
}
table th, .table-acubor th{
    padding: 3px;
}
/*.modal-body, .print-preview, #page-content, #main-content, #main-container, body {*/
    /*float: none;*/
    /*display: block;*/
    /*border: none;*/
/*}*/