.drag_handle, .select2-arrow, .btn, button, .navbar, #sidebar, #breadcrumbs{
    display:none !important;
}

#page-contnet{
    padding: 0;
}

#main-content{
    margin-left: 0;
}

#ace-settings-container{
    display: none;
}

td .select2-container .select2-choice{
    border: none;
}