.widget-content {
    margin: 20px 0px;
}

.shortcuts {
    text-align: center;
    display: inline-block;
}

.shortcuts .shortcut {
    width: 110px;
    display: inline-block;
    padding: 12px 0;
    margin: 0 5px 1em;
    vertical-align: top;
    text-decoration: none;
    background: #F3F3F3;
    background-color: #f8f8f8;
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 5px;
}

.shortcuts .shortcut .shortcut-icon {
    width: 100%;
    margin-top: .25em;
    margin-bottom: .35em;
    font-size: 32px;
    color: #555;
}

.shortcuts .shortcut:hover {
    background: #E8E8E8;
    background-color: #f0f0f0;
    background-image: -moz-linear-gradient(top, #fafafa, #e1e1e1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e1e1e1));
    background-image: -webkit-linear-gradient(top, #fafafa, #e1e1e1);
    background-image: -o-linear-gradient(top, #fafafa, #e1e1e1);
    background-image: linear-gradient(to bottom, #fafafa, #e1e1e1);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffe1e1e1', GradientType=0);
}

.shortcuts .shortcut:hover .shortcut-icon {
    color: #666;
}

.shortcuts .shortcut-label {
    display: block;
    font-weight: 400;
    color: #666;
}

.register_feat {
    list-style: none;
    font-size: 2em;
    color: #fff;
    margin: 0;
}

.register_feat li {
    line-height: 2em;
}

.hand-on-hover {
    cursor: pointer;
}

tbody > tr > td[contenteditable="true"]:focus {
    background: none repeat scroll 0 0 #EEEEEE;
    outline: 1px solid #0088FF;
    resize: none;
}

.drag_handle {
    float: left;
    padding: 5px 6px 5px 2px;
    opacity: .6;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.drag_handle:hover {
    opacity: 1;
}

.table-acubor {
    margin-bottom: 10px;
}

.table-acubor th {
    padding: 5px;
    vertical-align: middle;
}

.table-acubor td {
    padding: 6px;
    vertical-align: middle;
}

.table-acubor .with_ip {
    padding: 0px;
    border: #B9B9B9 1px solid;
}

.item-complete-box {
    padding: 5px;
}

.wid-pad {
    padding: 5px;
}

#id_invoice_no {
    width: 46px;
    letter-spacing: 1px;
}

.invalid-row td {
    background: #FBE3E4 !important;
}

.errorlist {
    color: red;
}

.close:only-child {
    float: none;
}

.button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #F5F5F5 linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    /*background-repeat: repeat-x;*/
    border-image: none;
    /*border-radius: 4px 4px 4px 4px;*/
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-color: #B3B3B3;
    /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);*/
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

/* Flatten das bootstrap */
.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav > .active > a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    border-collapse: collapse !important;
    background-image: none !important;
}

/*Flatten select2*/
.select2-container .select2-choice .select2-arrow, .select2-container .select2-choice, .select2-drop {
    border-radius: 0 !important;
}

/*flatten w8*/
#nav-search-input {
    border-radius: 0 !important;
}

/*Status classes w/ colors*/

.standby {
    color: #2679B5;
}

.waiting {
    color: rgb(219, 161, 12);
}

.success {
    color: rgb(50, 196, 30);
}

.error {
    color: rgb(219, 58, 58);
}

tbody > tr > td[contenteditable="true"] {
    resize: none;
    border: #B9B9B9 1px solid;
}

.collapsible-head {
    background: #ececec;
    border-radius: 0.3em 0.3em 0 0;
    padding-left: 1em;
}

.collapse.in {
    overflow: visible;
}

.collapse-group h2 {
    display: inline;
    color: #686868;
    font-weight: 100;
    font-family: tahoma;
    font-size: 20px;
}

.collapse-group table {
    margin-bottom: 0;
}

.collapse-show-on-expand {
    /*display: none;*/
    padding: 0.4em 1em;
}

.collapse-group {
    border-bottom: 1px dotted #FFFFFF;
}

.collapse {
    height: auto;
    overflow: visible;
}

textarea[name="narration"] {
    width: 40em;
    height: 4em;
}

input[type="checkbox"], input[type="radio"] {
    opacity: 1 !important;
    position: relative !important;
}

table.tree-table tr.collapsed span.indenter a:before {
    content: "\f116";
}

table.tree-table tr.expanded span.indenter a:before {
    content: "\f117";
}

.controls {
    text-align: center;
    padding: 0.5em;
}

.controls a {
    border-right: 1px solid;
    padding-right: 5px;
    cursor: pointer;

}

tr.highlighted td {
    background-color: #fbd972 !important;
}

.tab-content {
    padding: 0px;
    border: 0px;
    clear: both;
}

.nav-tabs > li > a {
    font-weight: bold;
    background: #fff;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    background: #f9f9f9;
    border-bottom-color: #ddd;
    border-top-color: rgb(95, 156, 201);
}

.flip-container {
    width: 200px;
    height: 200px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: 4px solid #B3C2CF;
    margin-right: 20px;
    margin-bottom: 20px;
    float: left;
}

.dashboard-icon {
    background-image: url(../images/dashboard-iconset.png);
    height: 160px;
}

.journal {
    background-position: 0px 0px;
}

.transaction {
    background-position: -200px 0px;
}

.bank {
    background-position: -400px 0px;
}

.account {
    background-position: -600px 0px;
}

.inventory {
    background-position: -800px 0px;
}

.payroll {
    background-position: 0px 160px;
}

.report {
    background-position: -200px 160px;
}

.setting {
    background-position: -400px 160px;
}

.flip-body {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 160px;
    left: 0;
    background: #eee;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.flip-container .open {
    top: 0px;
    -webkit-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -o-transition: all 300ms linear;
    transition: all 300ms linear;
}

.flip-body h2 {
    background: #185179;
    color: #ECECEC;
    margin: 0px;
    font-weight: normal;
}

.flip-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.flip-body ul li {
    margin: 0px;
    padding: 4px 8px;
}

.flip-body ul li a {
    padding: 2px 4px;
    display: block;
}

.flip-body ul li a:hover {
    background: #69c;
    color: #fff;
    text-decoration: none;
}

.flip-container i {
    font-size: 100px;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
}

table .select2-container .select2-choice {
    border: 0;
}

.hidden {
    display: none !important;
}

.flip-container input {
    width: 9em;
}

.flip-container button {
    margin-top: -1em;
}

#day-journal-selection-button {
    margin-top: -10px;
}

a.inline {
    display: inline !important;
}

input[type='file'] {
    line-height: 1em;
}

table .date-picker {
    margin-bottom: 0px;
    margin-left: 6px;
}

.useroff .btn {
    padding: 2px 8px;
}

.useroff .outer-container .container {
    min-height: 300px;
}

input[type="radio"], input[type="checkbox"] {
    margin: 2px;
}

.widget-box {
    border-bottom: 0px;
}

.widget-body {
    border: 1px solid #e5e5e5;
    border-top: 0px;
    background-color: #F8F8F8;
}

.widget-header h4 {
    color: #727272;
    text-align: left;
    margin: 0;
    padding: 9px;
    float: left;
}

.widget-header .widget-toolbar {
    border-left: 0px;
    border-right: 1px solid #e5e5e5;
    padding: 1px 9px 1px 1px;
}

.widget-toolbar:before {
    border: 0px
}

.widget-header {
    background: #f5f5f5;
    border-color: #E5E5E5;
}

#attachment_tabbable form {
    padding: 10px;
    background: #f5f5f5;
    border: 1px solid #ccc;
    line-height: 2em;
}

#attachment_tabbable form input[type="file"] {
    margin: 0px;
}

#attachment_tabbable .span3 {
    background: #E7E7E7;
    padding: 4px 6px 2px;
}

#attachment_tabbable form label {
    display: inline-block;
    max-width: 320px;
}

.controls a {
    border-right: 1px solid thick;
}

.controls a:last-child {
    border-right: none;
}

.empty {
    display: none !important;
}

.inline {
    display: inline;
}

td .select2-container {
    width: 100%
}

#lotto-detail .row-fluid {
    max-height: 400px;
    overflow-y: scroll;
}

/*.myscroll::-webkit-scrollbar-track*/
/*{*/
/*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.1);*/
/*background: none;*/
/*}*/

/*.myscroll::-webkit-scrollbar*/
/*{*/
/*width: 6px;*/
/*background: none;*/
/*}*/

/*.myscroll::-webkit-scrollbar-thumb*/
/*{*/
/*background-color: #ccc;*/
/*}*/
/*.myscroll::-webkit-scrollbar-thumb:hover{*/
/*background-color: #999;*/

/*}*/

.invalid-cell {
    background: #FBE3E4 !important;
}

.select2-drop {
    text-align: center;
}

.select2-drop .appended-link {
    text-decoration: underline;
    /*be*/
}

.select2-results {
    text-align: left;
}

.page-header{
    border: none;
    padding-bottom: 0;
}

.page-header h1{
    /*border-bottom: 1px dotted #e2e2e2;*/
}