.widget-content{
    margin: 20px 0px;
}
.shortcuts {
    text-align: center;
    display: inline-block;
}
.shortcuts .shortcut {
    width: 110px;
    display: inline-block;
    padding: 12px 0;
    margin: 0 5px 1em;
    vertical-align: top;
    text-decoration: none;
    background: #F3F3F3;
    background-color: #f8f8f8;
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 5px;
}
.shortcuts .shortcut .shortcut-icon {
    width: 100%;
    margin-top: .25em;
    margin-bottom: .35em;
    font-size: 32px;
    color: #555;
}
.shortcuts .shortcut:hover {
    background: #E8E8E8;
    background-color: #f0f0f0;
    background-image: -moz-linear-gradient(top, #fafafa, #e1e1e1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e1e1e1));
    background-image: -webkit-linear-gradient(top, #fafafa, #e1e1e1);
    background-image: -o-linear-gradient(top, #fafafa, #e1e1e1);
    background-image: linear-gradient(to bottom, #fafafa, #e1e1e1);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffe1e1e1', GradientType=0);
}
.shortcuts .shortcut:hover .shortcut-icon {
    color: #666;
}
.shortcuts .shortcut-label {
    display: block;
    font-weight: 400;
    color: #666;
}
.register_feat{
    list-style: none;
    font-size: 2em;
    color: #fff;
    margin: 0;
}
.register_feat li{
    line-height: 2em;
}

.hand-on-hover{
    cursor: pointer;
}
tbody > tr > td[contenteditable="true"]:focus {
    background: none repeat scroll 0 0 #EEEEEE;
    outline: 1px solid #0088FF;
    resize: none;
}
.drag_handle{
    float: left;
    padding: 5px 6px 5px 2px;
    opacity: .6;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}
.drag_handle:hover{
    opacity: 1;
}
.table-acubor th, .table-acubor td {
    padding: 5px;
    vertical-align: middle;
}
.item-complete-box{
    padding: 5px;
}
.wid-pad{
    padding: 5px;
}
#id_invoice_no{
    width: 46px;
    letter-spacing: 1px;
}

.invalid-row td{
    background: #FBE3E4 !important;
}

.collapsible-head{
    background: #F0F0F0;
    border-radius: 0.3em 0.3em 0 0;
    padding-left: 1em;
}

.collapse.in {
    overflow: visible;
}

.errorlist{
    color: red;
}

.collapse-group h2{
    margin: 0;
}

.collapse-group table{
    /*margin-bottom: 0;*/
}

.collapse-show-on-expand{
    display: none;
    padding-right: 0.2em;
}

.collapse-group{
    border-bottom: 1px dotted #FFFFFF;
}

.close:only-child{
    float:none;
}

.button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) #B3B3B3;
    border-image: none;
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

/* Flatten das boostrap */
.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    border-collapse: collapse !important;
    background-image: none !important;
}

/*Flatten select2*/
.select2-container .select2-choice .select2-arrow, .select2-container .select2-choice, .select2-drop{
    border-radius: 0 !important;
}