.widget-content {
    margin: 20px 0px;
}

.shortcuts {
    text-align: center;
    display: inline-block;
}

.shortcuts .shortcut {
    width: 110px;
    display: inline-block;
    padding: 12px 0;
    margin: 0 5px 1em;
    vertical-align: top;
    text-decoration: none;
    background: #F3F3F3;
    background-color: #f8f8f8;
    background-image: -moz-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#eeeeee));
    background-image: -webkit-linear-gradient(top, #ffffff, #eeeeee);
    background-image: -o-linear-gradient(top, #ffffff, #eeeeee);
    background-image: linear-gradient(to bottom, #ffffff, #eeeeee);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffeeeeee', GradientType=0);
    border: 1px solid #ddd;
    box-sizing: border-box;
    border-radius: 5px;
}

.shortcuts .shortcut .shortcut-icon {
    width: 100%;
    margin-top: .25em;
    margin-bottom: .35em;
    font-size: 32px;
    color: #555;
}

.shortcuts .shortcut:hover {
    background: #E8E8E8;
    background-color: #f0f0f0;
    background-image: -moz-linear-gradient(top, #fafafa, #e1e1e1);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#e1e1e1));
    background-image: -webkit-linear-gradient(top, #fafafa, #e1e1e1);
    background-image: -o-linear-gradient(top, #fafafa, #e1e1e1);
    background-image: linear-gradient(to bottom, #fafafa, #e1e1e1);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffafafa', endColorstr='#ffe1e1e1', GradientType=0);
}

.shortcuts .shortcut:hover .shortcut-icon {
    color: #666;
}

.shortcuts .shortcut-label {
    display: block;
    font-weight: 400;
    color: #666;
}

.register_feat {
    list-style: none;
    font-size: 2em;
    color: #fff;
    margin: 0;
}

.register_feat li {
    line-height: 2em;
}

.hand-on-hover {
    cursor: pointer;
}

tbody > tr > td[contenteditable="true"]:focus {
    background: none repeat scroll 0 0 #EEEEEE;
    outline: 1px solid #0088FF;
    resize: none;
}

.drag_handle {
    float: left;
    padding: 5px 6px 5px 2px;
    opacity: .6;
    cursor: move;
    cursor: -webkit-grab;
    cursor: -moz-grab;
}

.drag_handle:hover {
    opacity: 1;
}

.table-acubor {
    margin-bottom: 10px;
}

.table-acubor th {
    padding: 5px;
    vertical-align: middle;
}

.table-acubor td {
    padding: 6px;
    vertical-align: middle;
}

.table-acubor .with_ip {
    padding: 0px;
    border: #B9B9B9 1px solid;
}

.item-complete-box {
    padding: 5px;
}

.wid-pad {
    padding: 5px;
}

#id_invoice_no {
    width: 46px;
    letter-spacing: 1px;
}

.invalid-row td {
    background: #FBE3E4 !important;
}

.errorlist {
    color: red;
}

.close:only-child {
    float: none;
}

.button {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #F5F5F5 linear-gradient(to bottom, #FFFFFF, #E6E6E6);
    /*background-repeat: repeat-x;*/
    border-image: none;
    /*border-radius: 4px 4px 4px 4px;*/
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom-color: #B3B3B3;
    /*box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);*/
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
    padding: 4px 12px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}

/* Flatten das bootstrap */
.well, .navbar-inner, .popover, .btn, .tooltip, input, select, textarea, pre, .progress, .modal, .add-on, .alert, .table-bordered, .nav>.active>a, .dropdown-menu, .tooltip-inner, .badge, .label, .img-polaroid {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
    border-collapse: collapse !important;
    background-image: none !important;
}

/*Flatten select2*/
.select2-container .select2-choice .select2-arrow, .select2-container .select2-choice, .select2-drop {
    border-radius: 0 !important;
}

/*flatten w8*/
#nav-search-input {
    border-radius: 0 !important;
}

/*Status classes w/ colors*/

.standby {
    color: #2679B5;
}

.waiting {
    color: rgb(219, 161, 12);
}

.success {
    color: rgb(50, 196, 30);
}

.error {
    color: rgb(219, 58, 58);
}

tbody > tr > td[contenteditable="true"] {
    resize: none;
    border: #B9B9B9 1px solid;
}

.collapsible-head {
    background: #ececec;
    border-radius: 0.3em 0.3em 0 0;
    padding-left: 1em;
}

.collapse.in {
    overflow: visible;
}

.collapse-group h2 {
    display: inline;
    color: #686868;
    font-weight: 100;
    font-family: tahoma;
    font-size: 20px;
}

.collapse-group table {
    margin-bottom: 0;
}

.collapse-show-on-expand {
    /*display: none;*/
    padding: 0.4em 1em;
}

.collapse-group {
    border-bottom: 1px dotted #FFFFFF;
}

.collapse {
    height: auto;
    overflow: visible;
}

textarea[name="narration"] {
    width: 40em;
    height: 4em;
}

input[type="checkbox"], input[type="radio"] {
    opacity: 1 !important;
    position: relative !important;
}

table.tree-table tr.collapsed span.indenter a:before {
    content: "\f116";
}

table.tree-table tr.expanded span.indenter a:before {
    content: "\f117";
}

.controls {
    text-align: center;
    padding: 0.5em;
}

.controls a {
    cursor: pointer;
}

tr.highlighted td {
    background-color: #fbd972 !important;
}

.tab-content {
    padding: 0px;
    border: 0px;
    clear: both;
}

.nav-tabs>li>a {
    font-weight: bold;
    background: #fff;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    background: #f9f9f9;
    border-bottom-color: #ddd;
    border-top-color: rgb(95, 156, 201);
}

.flip-container {
    background: gray;
    width: 160px;
    height: 160px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    border: 4px solid #999;
    margin-right: 20px;
    margin-bottom: 20px;
}

.flip-container .icon-container {
    text-align: center;
    padding-top: 10px;
}

.flip-body {
    width: 160px;
    height: 160px;
    position: absolute;
    top: 120px;
    left: 0;
    background: #eee;
    -webkit-transition: all 200ms linear .3s;
    -moz-transition: all 200ms linear .3s;
    -o-transition: all 200ms linear .3s;
    transition: all 200ms linear .3s;
}

.flip-container:hover .flip-body {
    top: 0px;
}

.flip-body h2 {
    background: #444343;
    color: #ECECEC;
    margin: 0px;
    font-weight: normal;
}

.flip-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: left;
}

.flip-body ul li {
    margin: 0px;
}

.flip-body ul li a {
    padding: 4px 8px;
    display: block;
}

.flip-body ul li a:hover {
    background: #69c;
    color: #fff;
    text-decoration: none;
}

.flip-container i {
    font-size: 100px;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
}

table .select2-container .select2-choice {
    border: 0;
}

.hidden{
    display: none;
}