{% extends "dashboard.html" %}

{% block content %}
    


        <div id="page-content" class="clearfix">
          <div class="page-header position-relative">
            <h1>
              Dashboard
            </h1>
          </div><!--/.page-header-->

          <div class="row-fluid">
            <!--PAGE CONTENT BEGINS HERE-->

            <div class="alert alert-block alert-success">
              <button type="button" class="close" data-dismiss="alert">
                <i class="icon-remove"></i>
              </button>
              Some message for user they can see after login.
            </div>

            <div class="space-6"></div>
            <div class="row-fluid">
              <div class="span12">
                <div class="widget-content">

          <div class="shortcuts">
            <a href="javascript:;" class="shortcut">
              <i class="shortcut-icon icon-list-alt"></i>
              <span class="shortcut-label">Gas</span>
            </a>

            <a href="javascript:;" class="shortcut">
              <i class="shortcut-icon icon-bookmark"></i>
              <span class="shortcut-label">Delacy</span>
            </a>

            <a href="javascript:;" class="shortcut">
              <i class="shortcut-icon icon-signal"></i>
              <span class="shortcut-label">Lotto</span>
            </a>

            <a href="javascript:;" class="shortcut">
              <i class="shortcut-icon icon-comment"></i>
              <span class="shortcut-label">Grocery</span>
            </a>

            <a href="javascript:;" class="shortcut">
              <i class="shortcut-icon icon-user"></i>
              <span class="shortcut-label">Bank</span>
            </a>

            <a href="javascript:;" class="shortcut">
              <i class="shortcut-icon icon-file"></i>
              <span class="shortcut-label">Money Order</span>
            </a>

            <a href="javascript:;" class="shortcut">
              <i class="shortcut-icon icon-picture"></i>
              <span class="shortcut-label">Payroll</span>
            </a>

            <a href="javascript:;" class="shortcut">
              <i class="shortcut-icon icon-tag"></i>
              <span class="shortcut-label">ATM</span>
            </a>
          </div> <!-- /shortcuts -->

        </div>
              </div>
            </div>



            <!--PAGE CONTENT ENDS HERE-->
          </div><!--/row-->
        </div><!--/#page-content-->

       

{% endblock %}