{% extends "dashboard.html" %}

{% block title %}Company Roles{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "roles" %}">Company Roles</a></li>
{% endblock %}



{% block content %}

    <div class="page-header position-relative">
        <h1>
            Company Roles
        </h1>
    </div>


    <table class="table-bordered">
        <thead>
        <th>User</th>
        <th>E-mail</th>
        <th>Role</th>
        <th></th>
        </thead>
        <tbody>
        {% for role in roles %}
            <tr>
                <td>{{ role.user }}</td>
                <td>{{ role.user.email }}</td>
                <td>{{ role.group }}</td>
                <td>{% if role.group.name != 'SuperOwner' %}
                    <a href="{%  url 'delete_role' role.id %}">Delete</a>
                {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}