{% extends 'base.html' %}

{% load pagination_tags %}

{% block title %}
    Blog Posts by {{ user.full_name }}
{% endblock %}

{% block content %}

    <h1>Blog Posts by {{ user.full_name }}</h1>
    {% autopaginate objs 25 as paginated_objs %}
    <ul>
        {% for obj in paginated_objs %}
            <li><a href="{% url 'view_blog_entry'  obj.id %}">{{ obj.title }}</a></li>
        {% endfor %}
    </ul>

    {% if user.is_authenticated %}
        <a class="btn" href="{% url 'create_blog_entry' %}">Create New Blog Entry</a>
    {% endif %}

{% endblock %}