django
gunicorn
psycopg2
south
django-registration
djangorestframework
django-debug-toolbar
django-mptt
django-pagination
django-filter
 -e git://github.com/camilonova/django-sorting.git#egg=django_sorting