{% extends "dashboard.html" %}

{% block title %}{{ scenario }} Attendance Voucher{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "create_attendance_voucher" %}"> Attendance Voucher</a></li>
{% endblock %}
{% load filters %}
{% block extra-head %}
    <script src="{{ STATIC_URL }}js/vendors/knockout.js"></script>
    <script src="{{ STATIC_URL }}js/ko_lib.js"></script>
    <script src="{{ STATIC_URL }}js/work_time_voucher.js"></script>
    <script>
        ko_data =
        {{ data|jsonify }}
    </script>
{% endblock %}

{% block pageheader %}
    {{ scenario }} Attendance Voucher
{% endblock %}

{% block content %}

    <form method="post">
        {% csrf_token %}

        <span data-bind="text: message(), css: state()"></span>

        <div class="row-fluid">
            <span class="span2">
                Voucher No.
            </span>
            <span class="span3">
                <input type="text" data-bind="value: voucher_no" required>
            </span>
            <span class="span2">
                Voucher Date
                </span>
            <span class="span3">
                <input type="text" data-bind="value: date" class="date-picker"
                       data-date-format="yyyy-mm-dd" required>
                </span>
        </div>

        <div class="row-fluid">
            <span class="span8">
                From : <input type="text" data-bind="value: from_date, event: {change: $root.date_changed}"
                              class="date-picker" data-date-format="yyyy-mm-dd" required>
            </span>
            <span class="span4">
                To : <input type="text" data-bind="value: to_date, event: {change: $root.date_changed}"
                            class="date-picker" data-date-format="yyyy-mm-dd" required>
            </span>
        </div>

        <div data-bind="visible: has_range">

            <table class="table table-bordered table-striped table-sortable fixed-width-td">
                <thead>
                <tr>
                    <td rowspan="2">Employee</td>
                    <!-- ko foreach:days -->
                    <td colspan="3" data-bind="text: weekday + ' ' + yyyy_mm_dd()"></td>
                    <!-- /ko -->
                    <td rowspan="2">Working Time</td>
                    <td rowspan="2"></td>
                </tr>
                <tr>
                    <!-- ko foreach:days -->
                    <td>In</td>
                    <td>Out</td>
                    <td>W. Time</td>
                    <!-- /ko -->
                </tr>
                </thead>
                <tbody id="work-time-table">
                <!-- ko foreach: rows -->
                <tr>
                    <td>
                        <input type="hidden" data-name="Employee" data-url="{% url 'create_employee' %}"
                               data-bind="value: employee, select2: $root.employees">
                    </td>
                    <!-- ko foreach: work_days -->
                    <td><input type="text" data-bind="value: in_time"></td>
                    <td><input type="text" data-bind="value: out_time"></td>
                    <td><input type="text" data-bind="value: work_time" disabled></td>
                    <!-- /ko -->
                    <td><input type="text" data-bind="value: working_time()"></td>
                    <td>
                        <button class="btn-none" data-bind="click: $root.remove_row">
                            <i class="icon-trash"></i>
                        </button>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>

            <button class="btn" data-bind="click: $root.add_row">
                <i class="icon-plus-sign"></i> Add New Row
            </button>


            {% if scenario == 'Update' %}
                {#            <a class="btn delete-warn" href="{% url 'delete_attendance_vouchers' data.id %}">Delete</a>#}
            {% endif %}
            <input class="btn" type="submit" value="Save" data-bind="click: $root.save">
            <input class="btn" type="submit" value="Save & Continue" data-bind="click: $root.save"
                   data-continue="true">


        </div>


    </form>


{% endblock %}