{% extends base_template %}

{% block title %} {{ scenario }} Account {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "list_account" %}">Accounts</a></li>
    <span class="divider"><i class="icon-angle-right"></i></span>
    <li class="active">{{ scenario }} Account</li>
{% endblock %}

{% block content %}
    <div class="page-header position-relative">
        <h1>
            {{ scenario }} Account
        </h1>
    </div>


    <form method="post">
        {% csrf_token %}

        {{ form.errors }}

        {{ form.as_p }}

        <div class="row">
            <div class="span12">
                <input type="submit" value="Submit" class="btn"/>
            </div>
        </div>
    </form>
{% endblock %}