{% extends base_template %}

{% block title %} Update Category {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "list_category" %}">Categories</a></li>
    <span class="divider"><i class="icon-angle-right"></i></span>
    <li class="active">Update Category</li>
{% endblock %}

{% block content %}
    <div class="page-header position-relative">
        <h1>
            Update Category
        </h1>
    </div>
    <form method="post">

        {{ form.as_p }}

        <div class="row">

            <input type="submit" value="Submit" class="btn"/>
            <a class="btn" href="{% url 'delete_category' form.instance.id %}">Delete this category!</a>

        </div>


    </form>

{% endblock %}