{% extends "dashboard.html" %}

{% block title %}Account Categories{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "list_category" %}">Account Categories</a></li>
{% endblock %}

{% block content %}

    <div class="page-header position-relative">
        <h1>
            Account Categories
        </h1>
    </div>

    {% load mptt_tags %}
    <ul>
        {% recursetree categories %}
            <li>
                <a href="{% url 'update_category' node.id %}">{{ node.name }}</a>
                {% if not node.is_leaf_node %}
                    <ul class="children">
                        {{ children }}
                    </ul>
                {% endif %}
            </li>
        {% endrecursetree %}
    </ul>

    <a class="btn" href="{% url 'create_category' %}">Create New Category</a>

{% endblock %}