{% extends "dashboard.html" %}

{% block title %}{{ account.name }} Ledger View {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "list_account" %}">Accounts</a></li>
    <span class="divider"><i class="icon-angle-right"></i></span>
    <li class="active">{{ account.name }}</li>
{% endblock %}

{% block head_end %}
    <script src="{{ STATIC_URL }}js/vendors/knockout.js"></script>
    <script src="{{ STATIC_URL }}js/ko_lib.js"></script>
    <script src="{{ STATIC_URL }}js/base.js"></script>
    <script src="{{ STATIC_URL }}js/day_journal.js"></script>
    <script>
        $(document).ready(function () {
            if (window.location.hash) {
                var hash = window.location.hash.substring(1);
                $('#row-' + hash).addClass('highlighted');
            }
        });
    </script>
{% endblock %}
{% load filters %}
{% block content %}

    <div class="page-header position-relative">
        <h1>
            {{ account.name }}
        </h1>
    </div>

    Code: {{ account.code }} <br/>
    Dr Amount: {{ account.current_dr }} <br/>
    Cr Amount: {{ account.current_cr }} <br/>
    Closing Balance : {{ account.get_balance|dr_or_cr }} <br/>
    Category: {{ account.category }} <br/>
    <a href="{% url "update_account" account.id %}">
        Edit Account Details
    </a>

    <h2>Transactions:</h2>

    <table class="table table-bordered table-striped table-sortable">
        <thead>
        <th>Date</th>
        <th>Particulars</th>
        <th>Voucher Type</th>
        <th>Voucher No.</th>
        <th>Dr</th>
        <th>Cr</th>
        <th>Balance</th>
        </thead>
        <tbody>
        {% for entry in journal_entries %}
            <tr id="row-{{ entry.id }}">
                <td>
                    {{ entry.date }}
                </td>
                <td>
                    {% if entry.content_type.name == 'journal voucher row' %}
                        {{ entry|get_particulars:account|safe }}
                    {% endif %}
                    {% for transaction in entry.transactions.all|remove_account:account %}{% if not forloop.first %},
                    {% endif %}
                        <a href="{{ transaction.account.get_absolute_url }}/#{{ entry.id }}">{{ transaction.account.name }}</a>{% endfor %}
                </td>
                <td>
                    {% if entry.content_type.app_label == 'dayjournal' %}
                        Day Journal
                    {% else %}
                        {{ entry.content_type.name|refine_voucher_type }}
                    {% endif %}
                </td>
                <td>
                    <a href="{{ entry|url_for_content }}">
                        {% if entry.content_type.app_label == 'dayjournal' %}
                            {{ entry|day_journal_id }}
                        {% else %}
                            {{ entry.model_id }}
                        {% endif %}
                    </a>
                </td>

                {% for transaction in entry.transactions.all %}
                    {% if transaction.account.id == account.id %}
                        <td>
                            {{ transaction.dr_amount|if_not_none }}
                        </td>
                        <td>

                            {{ transaction.cr_amount|if_not_none }}
                        </td>
                        <td>
                            {{ transaction.get_balance|dr_or_cr }}
                        </td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}