{% extends "dashboard.html" %}

{% block title %}{{ account.name }}{% endblock %}

{% block content %}

    <div class="page-header position-relative">
        <h1>
            {{ account.name }}
        </h1>
    </div>

    Code: {{ account.code }} <br/>
    Current Balance: {{ account.current_balance }} <br/>
    Category: {{ account.category }}<br/>
    <a href="{% url "update_account" account.id %}">
        Edit Account Details
    </a>

    <h2>Transactions:</h2>

    {% load filters %}

    <table class="table table-bordered table-striped table-sortable">
        <thead>
        <th>Date</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Balance</th>
        </thead>
        <tbody>
        {% for transaction in transactions %}
            <tr>
                <td>
                    {{ transaction.date }}
                </td>
                <td>
                    {{ transaction.amount }}
                </td>
                <td>{{ transaction.type }}</td>
                <td>
                    {{ transaction.current_balance }}
                </td>
            </tr>

        {% endfor %}

{% endblock %}