{% extends "base.html" %}

{% block title %}Login{% endblock %}
{% block content %}

    <div class="row">
        <div class="span6">
            <h2 class="intro">Login</h2>

            {% if form.errors %}
                <p class="alert alert-error">Your username and password didn't match. Please try again.</p>
            {% endif %}

            <form method="post" action="{% url 'django.contrib.auth.views.login' %}"
                  id="user_login_new">{% csrf_token %}
                {% if state %}
                    {{ state }}
                {% endif %}
                <br/>
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}"/>
                {% endif %}
                <p class="required">
                    <label for="id_username">Username:</label>
                    <input type="text" name="username" id="id_username" value="{{ username }}" required/>
                </p>

                <p class="required">
                    <label for="id_password">Password:</label>
                    <input type="password" name="password" id="id_password" value="{{ username }}" required/>
                </p>
                <br>

                <p>
                    <input type="checkbox" name="remember_me" id="remember-me" value="true"/>
                    <label class="inline" for="remember-me">Remember Me</label>
                </p>
                <br>

                <p>
                    <input type="submit" value="Log In" class="btn"/>
                    <a href="{% url 'auth_password_reset' %}">Forgot Password</a>
                </p>
            </form>

        </div>
        <div class="span6">
            <h2 class="intro">Don't have an accoount?</h2>
            <a href="{% url 'registration_register' %}" class="btn btn-info">Register new account for free</a>
        </div>
    </div>
{% endblock %}