{% extends "base.html" %}


{% block title %}Login{% endblock %}
{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<a href="{% url 'registration_register' %}" class="btn pull-right">Register</a>

<form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="navbar-form header-login pull-right">
    {% csrf_token %}
    {% if state %}
    {{ state }}
    {% endif %}
    {% if next %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% endif %}
    <input type="text" class="span2" name="username" value="{{ username }}" required placeholder="Email" />
    <input type="password" class="span2" name="password" value="" required placeholder="Password" />

    <input type="submit" value="Log In" class="btn" />
    <br/>
</form>
{% endblock %}