{% extends "base.html" %}
{% block title %}Register for an account{% endblock %}

{% block content %}

<div class="row">
<div class="span6">
<h2 class="intro">Register A Free Account</h2>
<br>
<form method='post' action='' id="user_registration_new">{% csrf_token %}
    {{ form.as_p }}
    <br />
    <input type="submit" value="Register" class="btn" />
</form>

</div>
<div class="span6">
  <h2 class="intro">Features</h2>
  <br>
  <ul class="register_feat">
    <li>&#x2713; Multiple User</li>
    <li>&#x2713; 10 Modules</li>
    <li>&#x2713; Reporting System</li>
    <li>&#x2713; RTMS</li>
  </ul>
</div>
</div>
<script type="text/javascript">
$(function(){
  $('input').focus(function(){
    $(this).parent().prev('.errorlist').fadeOut(500, function(){ $(this).remove(); });
  });
});
</script>
{% endblock %}
