{% extends base_template %}

{% block title %}{{ scenario }} Inventory Item {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "list_all_items" %}">Inventory Items</a></li>
    <span class="divider"><i class="icon-angle-right"></i></span>
    <li class="active">{{ scenario }} Inventory Item</li>
{% endblock %}

{% block content %}
    <div class="page-header position-relative">
        <h1>
            {{ scenario }} Inventory Item
        </h1>
    </div>

    {{ form.non_field_errors }}
    {{ form.errors }}
    <form method="post">
        {% csrf_token %}
        {#        <div class="row">#}
        {#            <div class="span3">#}
        {#                {% csrf_token %}#}
        {#                {{ form.code.label_tag }}#}
        {#                {{ form.code }}#}
        {#                {{ form.name.label_tag }}#}
        {#                {{ form.name }}#}
        {#                {{ form.description.label_tag }}#}
        {#                {{ form.description }}#}
        {#            </div>#}
        {#            <div class="span3">#}
        {#                {{ form.sales_price.label_tag }}#}
        {#                {{ form.sales_price }}#}
        {#                {{ form.sales_account.label_tag }}#}
        {#                {{ form.sales_account }}#}
        {#                {{ form.sales_tax_scheme.label_tag }}#}
        {#                {{ form.sales_tax_scheme }}#}
        {#            </div>#}
        {#            <div class="span3">#}
        {#                {{ form.purchase_price.label_tag }}#}
        {#                {{ form.purchase_price }}#}
        {#                {{ form.purchase_tax_scheme.label_tag }}#}
        {#                {{ form.purchase_tax_scheme }}#}
        {#            </div>#}
        {#            <div>#}
        {#                {{ form.purchase_account.label_tag }}#}
        {#                {{ form.purchase_account }}#}
        {#                {{ form.category.label_tag }}#}
        {#                {{ form.category }}#}
        {#            </div>#}
        {#        </div>#}

        {{ form.as_p }}

        <div class="row">
            <div class="span12">
                <input type="submit" value="Submit" class="btn"/>
                {% if scenario = 'Update' %}
                    <a class="btn" href="{% url 'delete_inventory_item' form.instance.id %}">Delete!</a>
                {% endif %}
                <a class="btn" target="_blank" href="{% url 'create_inventory_category' %}">New Inventory Category</a>
            </div>
        </div>
    </form>
{% endblock %}