{% extends "dashboard.html" %}

{% block title %}Inventory Items{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "list_all_items" %}">Inventory Items</a></li>
{% endblock %}

{% block content %}

    <div class="page-header position-relative">
        <h1>
            Inventory Items
        </h1>
    </div>

    {% load pagination_tags %}
    {% load sorting_tags %}

    <div class="widget-box collapsed">
        <div class="widget-header">
            <div class="widget-toolbar" >
                <a href="#" data-action="collapse">
                    <i class="icon-chevron-up"></i>
                </a>
            </div>
            <h4>Search</h4>
        </div>
        <div class="widget-body"><div class="widget-body-inner">
            <div class="widget-main">
                <br>
                <form action="" method="get">
                    {{ objects.form.as_p }}
                    <input type="submit" value="Search" class="btn"/>
                </form>
            </div><!-- /widget-main -->
        </div></div><!-- /widget-body -->
    </div>    
    <br>

    {% autosort objects.qs as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}

    <table class="table table-bordered table-striped table-sortable">
        <thead>
        <th>{% anchor code 'Code' %}</th>
        <th>{% anchor name 'Name' %}</th>
        <th>{% anchor category 'Category' %}</th>
{#        <th>{% anchor purchase_price 'Purchase Price' %}</th>#}
{#        <th>{% anchor sales_price 'Sales Price' %}</th>#}
        <th>{% anchor sales_tax_scheme 'Sales Tax Scheme' %}</th>
        <th>Actions</th>
        </thead>
        <tbody>
        {% for item in paginated_objects %}
            <tr>
                <td>
                    {{ item.code }}
                </td>
                <td>{{ item.name }}</td>
                <td>{{ item.category }}</td>
{#                <td>{{ item.purchase_price }}</td>#}
{#                <td>{{ item.sales_price }}</td>#}
                <td>{{ item.sales_tax_scheme }}</td>
                <td>
                    <a href="{% url 'update_inventory_item' item.id %}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}

    <a class="btn" href="{% url 'create_inventory_item' %}">New Inventory Item</a>

{% endblock %}