{% extends "dashboard.html" %}

{% block title %}All Purchase Vouchers{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "all_purchase_vouchers" %}">All Purchase Vouchers</a></li>
{% endblock %}

{% block head_end %}

{% endblock %}

{% block content %}

    <div class="page-header position-relative">
        <h1>
            All Purchase Vouchers
        </h1>
    </div>

    <table class="table table-bordered table-striped table-sortable">
        <thead>
        <th>Inv. No.</th>
        <th>To</th>
        <th>Date</th>
        <th>Due Date</th>
        </thead>
        <tbody>
        {% for voucher in vouchers %}
            <tr>
                <td>
                    <a href="{% url "view_purchase_voucher" voucher.id %}">
                        haha
                    </a>
                </td>
                <td>{{ invoice.party }}</td>
                <td>{{ invoice.date }}</td>
                <td>{{ invoice.due_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
    <span class="step-links">
        {% if invoices.has_previous %}
            <a href="?page={{ invoices.previous_page_number }}">Previous</a>
        {% endif %}

        <span class="current">
            Page {{ invoices.number }} of {{ invoices.paginator.num_pages }}
        </span>

        {% if invoices.has_next %}
            <a href="?page={{ invoices.next_page_number }}">Next</a>
        {% endif %}
    </span>
    </div>


{% endblock %}