{% extends "dashboard.html" %}

{% block title %}All Purchase Vouchers{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "all_purchase_vouchers" %}">All Purchase Vouchers</a></li>
{% endblock %}

{% block head_end %}

{% endblock %}

{% block content %}

    <div class="page-header position-relative">
        <h1>
            All Purchase Vouchers
        </h1>
    </div>

    {% load pagination_tags %}
    {% load sorting_tags %}

    <div class="search-form">
        <a href="#" class="search-link">Search</a>

        <form action="" method="get">
            {{ objects.form.as_p }}
            <input type="submit" value="Search"/>
        </form>
    </div>

    {% autosort objects.qs as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}

    <table class="table table-bordered table-striped table-sortable">
        <thead>
        <th>{% anchor reference 'Reference' %}</th>
        <th>{% anchor party 'From' %}</th>
        <th>{% anchor date 'Date' %}</th>
        <th>{% anchor due_date 'Due Date' %}</th>
        </thead>
        <tbody>
        {% for item in paginated_objects %}
            <tr>
                <td>
                        {{ item.reference }}
                </td>
                <td>{{ item.party }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.due_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}

    <a class="btn" href="{% url 'new_purchase_voucher' %}">New Purchase Voucher</a>


{% endblock %}