{%  extends "dashboard.html" %}

{% block title %}Invoice{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "invoice" %}">Invoice</a></li>
{% endblock %}

{% block head_end %}
    <script src="http://static.acubor.com/js/vendors/knockout.js"></script>
    <script src="http://static.acubor.com/js/ko_lib.js"></script>
    <script src="http://static.acubor.com/js/base.js"></script>
    <script src="http://static.acubor.com/js/invoice.js"></script>
    <script>
        $(document).ready(function () {

            {% load filters %}

            var json_data = {{data|jsonify}};

            window.invoice_view_instance = new InvoiceViewModel(json_data);

            ko.applyBindings(invoice_view_instance);

            var nowTemp = new Date();
            var now = new Date(nowTemp.getFullYear(), nowTemp.getMonth(), nowTemp.getDate(), 0, 0, 0, 0);

            var checkin = $('#id_date').datepicker().data('datepicker');

            var checkout = $('#id_due_date').datepicker({relative_to: '#id_date'});
        });
    </script>
{% endblock %}

{% block content %}

    {{ data }}

    <div class="page-header position-relative">
        <h1>
            Invoice
        </h1>
    </div>

    <form method="post" action="#" data-bind='submit: save' >
        {% csrf_token %}

        <div class="row-fluid">

            <div class="span3">
                {{ form.party.label_tag }}
                {{ form.party }}
            </div>

            <div class="span3">
                {{ form.invoice_no.label_tag }}
                <div class="input-append input-prepend input-mini">
                    <span class="add-on" data-bind="text: read_only.invoice_prefix, visible: read_only.invoice_prefix"></span>
                    {{ form.invoice_no }}
                    <span class="add-on" data-bind="text: read_only.invoice_suffix, visible: read_only.invoice_suffix"></span>
                </div>
            </div>

            <div class="span3">
                {{ form.reference.label_tag }}
                {{ form.reference }}
            </div>
        </div>

        <br />

        <div class="row-fluid">

            <div class="span3">
                {{ form.date.label_tag }}
                <input class="date-picker" date-format="mm/dd/yy" data-bind="value: date" id="id_date" name="date" required="required" type="text">
            </div>
            <div class="span3">
                {{ form.due_date.label_tag }}
                <input class="due-date"  date-format="mm/dd/yy" data-bind="value: due_date" id="id_due_date" name="due_date" type="text">
            </div>
            <div class="span3">
                {{ form.tax.label_tag }}
                {{ form.tax }}
            </div>
            <div class="span3">
                {{ form.currency.label_tag }}
                {{ form.currency }}
            </div>

        </div>
        <br />
        <div class="row-fluid" data-bind="with: particulars">

            <table class="table table-bordered table-striped table-acubor table-sortable" id="voucher_table">
                <thead>
                <tr>
                    <th class="span1">SN</th>
                    <th class="span2">Item</th>
                    <th class="span3">Description</th>
                    <th class="span2">Price</th>
                    <th class="span1">Quantity</th>
                    <th class="span1">Discount %</th>
                    <th class="span1">Amount</th>
                    <th class="span1"></th>
                </tr>
                </thead>

                <tbody data-bind='foreach: rows'>
                <tr>
                    <td>
                        <div class="drag_handle"><i class="icon-ellipsis-vertical"></i>
                        </div><span class="wid-pad pull-left" data-bind="text: $index()+1"> </span>
                    </td>
                    <td>
{#                        <div data-bind="editableText: item_name, typeahead: $root.items,#}
{#                        event: { blur: $root.updateParticular }" class="item-complete-box span10 pull-left" ></div>#}
{#                        <a href="#" data-bind="click: show_items" class="show_all_items pull-right wid-pad">#}
{#                            <i class="icon-chevron-sign-down"></i>#}
{#                        </a>#}
                        <select class="span12 item-selector" data-bind="options: $root.items, optionsText: 'name', optionsValue: 'id', value: item_id, select2: {}"></select>
                    </td>
                    <td data-bind="editableText: description">
                    </td>
                    <td data-bind="editableText: unit_price, numeric: true">
                    </td>
                    <td data-bind="editableText: quantity, numeric: true">
                    </td>
                    <td data-bind="editableText: discount, numeric: true">
                    </td>
                    <td data-bind="text: amount()">
                    </td>
                    <td>
                        <a class="icon-remove-sign" href="#" data-bind="click: $parent.removeParticular"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pull-right"><b>Grand Total: </b> <span data-bind="text: $parent.grand_total()"></span> </div>
            <button class="btn" data-bind="click: addRow">
                <i class="icon-plus-sign hand-on-hover" ></i> Add New Row
            </button>
            <input class="btn" type="submit" value="Save" />
        </div>
    </form>

    <div id="item_new_form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Edit Introduction</h3>
        </div>

{#        <div class="modal-body">#}
{##}
{#            <form id="InfoText" method="POST">#}
{##}
{#                <input type="hidden" name="InfoText" value="1">#}
{##}
{#                <table>#}
{#                    <tbody><tr><td>Title</td><td><input type="text" name="title" id="title" style="width:300px"><span class="hide help-inline">This is required</span></td></tr>#}
{#                    <tr><td>Introduction</td><td><textarea name="contact" style="width:300px;height:100px"></textarea></td></tr>#}
{#                    </tbody></table>#}
{#            </form>#}
{#        </div>#}
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" data-dismiss="modal" id="InfoTextSubmit">Save changes</button>
        </div>
    </div>

{% endblock %}