{% extends "dashboard.html" %}

{% block title %}Invoice{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "invoice" %}">Invoice</a></li>
{% endblock %}

{% block head_end %}
    <script src="http://static.acubor.com/js/knockout.js"></script>
    <script src="http://static.acubor.com/js/ko_lib.js"></script>
    <script src="http://static.acubor.com/js/base.js"></script>
    <script>
        $(document).ready(function () {

            {% load filters %}

            var json_data = {{data|jsonify}};

            json_data.particulars=[
                {sn: 1,'item_name':'a', unit_price:20, description: 'The description', quantity: 2, discount: 10},
                {sn: 2,'item_name':'b', unit_price:20, description: 'The description', quantity: 2, discount: 10},
                {sn: 3,'item_name':'c', unit_price:20, description: 'The description', quantity: 2, discount: 10}
            ];

            ko.applyBindings(new InvoiceViewModel(json_data));

        });
    </script>
{% endblock %}

{% block content %}

{{ data }}

        <div class="page-header position-relative">
            <h1>
                Invoice
            </h1>
        </div>

        <div class="row-fluid">

            <form method="post" action="">{% csrf_token %}

                {{ form.party.label_tag }}
                {{ form.party }}

                {{ form.invoice_no.label_tag }}
                <div class="input-append input-prepend input-mini">
                    <span class="add-on" data-bind="text: read_only.invoice_prefix"></span>
                    {{ form.invoice_no }}
                    <span class="add-on" data-bind="text: read_only.invoice_suffix">a</span>
                </div>



                {{ form.reference.label_tag }}
                {{ form.reference }}

                {{ form.tax.label_tag }}
                {{ form.tax }}

                {{ form.currency.label_tag }}
                {{ form.currency }}

                <table class="table table-bordered table-striped table-acubor table-sortable">
                    <thead>
                        <tr>
                            <th class="span1">SN</th>
                            <th class="span2">Item</th>
                            <th class="span3">Description</th>
                            <th class="span2">Price</th>
                            <th class="span1">Quantity</th>
                            <th class="span1">Discount %</th>
                            <th class="span1">Amount</th>
                            <th class="span1"></th>
                        </tr>
                    </thead>

                    <tbody data-bind='foreach: particulars'>
                        <tr>
                            <td>
                                <div class="drag_handle"><i class="icon-ellipsis-vertical"></i>
                                </div><span class="wid-pad pull-left" data-bind="text: sn"> </span>
                            </td>
                            <td>
                                <div contenteditable data-bind="text: item_name, typeahead: $root.items" class="item-complete-box span10 pull-left" ></div>
                                <a href="#" data-bind="click: show_items" class="show_all_items pull-right wid-pad">
                                    <i class="icon-chevron-sign-down"></i>
                                </a>
                            </td>
                            <td data-bind="text: description" contenteditable>
                            </td>
                            <td data-bind="editableText: unit_price, numeric: true" contenteditable>
                            </td>
                            <td contenteditable data-bind="editableText: quantity, numeric: true">
                            </td>
                            <td contenteditable data-bind="editableText: discount, numeric: true">
                            </td>
                            <td data-bind="text: amount()">
                            </td>
                            <td>
                                <a class="icon-remove-sign" href="#" data-bind="click: $root.removeParticular"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="pull-right"><b>Grand Total: </b> <span data-bind="text: grand_total()"></span> </div>
                <button class="btn" data-bind="click: addParticular">
                    <i class="icon-plus-sign hand-on-hover" ></i> Add New Row
                </button>
                <button data-bind='click: save' class="btn">Save</button>
            </form>
        </div>
    </div>

    <div id="item_new_form" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Edit Introduction</h3>
        </div>

        <div class="modal-body">

            <form id="InfroText" method="POST">

                <input type="hidden" name="InfroText" value="1">

                <table>
                    <tbody><tr><td>Title</td><td><input type="text" name="title" id="title" style="width:300px"><span class="hide help-inline">This is required</span></td></tr>
                    <tr><td>Introduction</td><td><textarea name="contact" style="width:300px;height:100px"></textarea></td></tr>
                    </tbody></table>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-primary" data-dismiss="modal" id="InfroTextSubmit">Save changes</button>
        </div>
    </div>

{% endblock %}