{% extends "dashboard.html" %}

{% block title %}{{ scenario }} Journal Voucher{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "list_journal_vouchers" %}">Journal Register</a></li>
    <span class="divider"><i class="icon-angle-right"></i></span>
    <li>{{ scenario }} Journal Voucher</li>
{% endblock %}

{% block extra-head %}
    <script src="{{ STATIC_URL }}js/vendors/knockout.js"></script>
    <script src="{{ STATIC_URL }}js/ko_lib.js"></script>
    <script src="{{ STATIC_URL }}js/journal_voucher.js"></script>
    <script>
        {% load filters %}
        ko_data = {{ data|jsonify }};
    </script>
{% endblock %}

{% block content %}

    <div data-bind="with: journal_voucher">
        <div>
            <h2 data-bind="css: state()">{{ scenario }} Journal Voucher</h2>
            <span data-bind="text: message()"></span>
        </div>

        Voucher No.: <input type="text" name="voucher_no" data-bind="value: $root.voucher_no"/>

        <div class="pull-right">
            Date:
            <input data-date-format="yyyy-mm-dd" type="text" name="date" data-bind="value: $root.date"
                   class="date-picker"/>
        </div>

        <table class="table table-bordered table-striped table-acubor table-sortable">
            <thead>
            <tr>
                <th>Dr/Cr</th>
                <th>Particular</th>
                <th>Description</th>
                <th>Dr Amount</th>
                <th>Cr Amount</th>
                <th class="span1"></th>
            </tr>
            </thead>

            <tbody id="journal-voucher">
            <!-- ko foreach: rows -->
            <tr data-bind="flash: true">
                <td data-bind="enum: {values: ['Dr', 'Cr']}, editableText: type"></td>
                <td class="with_ip">
                    {# <select data-bind="options: $root.accounts, optionsText: 'name', optionsValue: 'id', value: dr_account_id, optionsCaption: 'Choose an account..', select2: {placeholderOption: 'first', allowClear: true}"></select>#}
                    <input type="hidden" data-field="Account" data-add-url="{% url 'create_account' %}" data-add-to="accounts"
                           data-bind="value: account, select2: {data: {results: $root.accounts_except_category(['Sales', 'Purchase'], true)}}, lookupKey: 'id'">
                </td>
                <td data-bind="editableText: description"></td>
                <td data-bind="editableText: dr_amount, numeric: true, disable_content_editable: is_cr(), on_tab: $root.add_row"></td>
                <td data-bind="editableText: cr_amount, numeric: true, disable_content_editable: is_dr(), on_tab: $root.add_row"></td>
                <td align="center">
                    <button class="btn-none" data-bind="click: $parent.removeRow" tabindex="-1">
                        <i class="icon-trash"></i>
                    </button>
                </td>
            </tr>
            <!-- /ko -->
            <tr data-bind="css: total_row_class()">
                <td colspan="3"><b>TOTAL</b></td>
                <td data-bind="text: dr_total()"></td>
                <td data-bind="text: cr_total()"></td>
                <td></td>
            </tr>
            </tbody>
        </table>

        Narration: <textarea name="voucher_no" data-bind="value: $root.narration"></textarea>

        <br/>

        <span>
            <button class="btn" data-bind="click: addRow"><i class="icon-plus-sign"></i> Add New Row</button>
            <button class="btn" data-bind="click: save"><i class="icon-save"></i> Save</button>
            <button class="btn" data-bind="click: reset">Reset</button>
            <a class="btn" href="/voucher/journal/">New</a>
            {% if scenario == 'Update' %}
                <a class="btn btn-danger" href="{% url 'delete_journal_voucher' data.id %}">Delete</a>
            {% endif %}
        </span>

    </div>

{% endblock %}