{% extends "dashboard.html" %}

{% block title %}Journal Voucher{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "list_journal_vouchers" %}">All Journal Vouchers</a></li>
    <span class="divider"><i class="icon-angle-right"></i></span>
    <li class="active"><a href="{% url "new_journal_voucher" %}">Journal Voucher</a></li>
{% endblock %}

{% block head_end %}
    <script src="{{ STATIC_URL }}js/vendors/knockout.js"></script>
    <script src="{{ STATIC_URL }}js/ko_lib.js"></script>
    <script src="{{ STATIC_URL }}js/base.js"></script>
    <script src="{{ STATIC_URL }}js/journal_voucher.js"></script>
    <script>
        $(document).ready(function () {
            {% load filters %}
            ko.applyBindings(new JournalVoucher({{data|jsonify}}));
        });
    </script>
{% endblock %}

{% block content %}

    <div data-bind="with: journal_voucher">
        <div><h2 data-bind="css: status()">Journal Voucher</h2>
            <span data-bind="text: message()"></span>

        </div>

        Voucher No.: <input type="text" name="voucher_no" data-bind="value: $root.voucher_no"/>

        <div class="pull-right">
            Date:
            <input data-date-format="yyyy-mm-dd" type="text" name="date" data-bind="value: $root.date"
                   class="date-picker"/>
        </div>


        <table class="table table-bordered table-striped table-acubor table-sortable">
            <thead>
            <tr>
                <th>SN</th>
                <th>Dr Account</th>
                <th>Cr Account</th>
                <th>Dr Amount</th>
                <th>Cr Amount</th>
                <th class="span1"></th>
            </tr>
            </thead>

            <tbody id="journal-voucher">
            <!-- ko foreach: rows -->
            <tr data-bind="flash: true">
                <td>
                    <span class="wid-pad pull-left" data-bind="text: $index()+1"> </span>
                </td>
                <td>
                    <select data-bind="options: $root.accounts, optionsText: 'name', optionsValue: 'id', value: dr_account_id, optionsCaption: 'Choose an account..', select2: {placeholderOption: 'first', allowClear: true}"></select>
                </td>
                <td>
                    <select data-bind="options: $root.accounts, optionsText: 'name', optionsValue: 'id', value: cr_account_id, optionsCaption: 'Choose an account..', select2: {placeholderOption: 'first', allowClear: true}"></select>
                </td>
                <td data-bind="editableText: dr_amount, numeric: true"></td>
                <td data-bind="editableText: cr_amount, numeric: true"></td>
                <td align="center">
                    <button class="close" data-bind="click: $parent.removeRow">&times;</button>
                </td>
            </tr>
            <!-- /ko -->
            <tr data-bind="css: total_row_class()">
                <td colspan="3"><b>TOTAL</b></td>
                <td data-bind="text: dr_total().toFixed(2)"></td>
                <td data-bind="text: cr_total().toFixed(2)"></td>
            </tr>
            </tbody>
        </table>

        Narration: <textarea name="voucher_no" data-bind="value: $root.narration"></textarea>

        <br/>

        <span>
            <button class="button" data-bind="click: addRow"><i class="icon-plus-sign"></i> Add New Row</button>
            <button class="button" data-bind="click: save"><i class="icon-save"></i> Save</button>
            <button class="button" data-bind="click: reset">Reset</button>
            <a class="button" href="/voucher/journal/">New</a>
        </span>

    </div>

{% endblock %}