{% extends "dashboard.html" %}

{% block title %}Invoices{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "all_invoices" %}">Invoices</a></li>
{% endblock %}

{% block head_end %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.date-range').each(function (i, el) {
                $(el).find('input').datepicker({
                    format: 'yyyy-mm-dd'
                });
            });
        });
    </script>
{% endblock %}

{% block pageheader %}
    Invoices
{% endblock %}

{% block content %}

    {% load pagination_tags %}
    {% load sorting_tags %}

    <div class="widget-box collapsed">
        <div class="widget-header">
            <div class="widget-toolbar" >
                <a href="#" data-action="collapse">
                    <i class="icon-chevron-up"></i>
                </a>
            </div>
            <h4>Search</h4>
        </div>

        <div class="widget-body"><div class="widget-body-inner">
            <div class="widget-main">
                <br>
                <form action="" method="get">
                    {{ objects.form.as_p }}
                    <input type="submit" class="btn" value="Search"/>
                </form>
            </div><!-- /widget-main -->
        </div></div><!-- /widget-body -->
    </div>

    <br>

    {#    {% autosort objects.qs as sorted_objects %}#}
    {#    {% autopaginate sorted_objects 25 as paginated_objects %}#}

    <table class="table table-bordered table-striped table-sortable">
        <thead>
        <th>{% anchor invoice_no 'Invoice No' %}</th>
        <th>{% anchor party 'To' %}</th>
        <th>{% anchor date 'Date' %}</th>
        <th>{% anchor due_date 'Due Date' %}</th>
        </thead>
        <tbody>
        {% for item in objects %}
            <tr>
                <td>
                    <a href="{% url "view_invoice" item.invoice_no %}">
                        {{ item.invoice_no }}
                    </a>
                </td>
                <td>{{ item.party }}</td>
                <td>{{ item.date }}</td>
                <td>{{ item.due_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% paginate %}

    <a class="btn" href="{% url 'new_invoice' %}">New Invoice</a>


{% endblock %}