{% extends "dashboard.html" %}

{% block title %}Invoices{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "all_invoices" %}">Invoices</a></li>
{% endblock %}

{% block head_end %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('.date-range').each(function (i, el) {
                $(el).find('input').datepicker({
                    format: 'yyyy-mm-dd'
                });
            });
        });
    </script>
{% endblock %}

{% load pagination_tags %}

{% block content %}

    <div class="page-header position-relative">
        <h1>
            Invoices
        </h1>
    </div>

    <form action="" method="get">
        {{ invoices.form.as_p }}
        <input type="submit"/>
    </form>

    <table class="table table-bordered table-striped table-sortable">
        <thead>
        <th>Inv. No.</th>
        <th>To</th>
        <th>Date</th>
        <th>Due Date</th>
        </thead>
        <tbody>
        {% autopaginate invoices 2 %}
        {% for invoice in invoices %}
            <tr>
                <td>
                    <a href="{% url "view_invoice" invoice.invoice_no %}">
                        {{ invoice.invoice_no }}
                    </a>
                </td>
                <td>{{ invoice.party }}</td>
                <td>{{ invoice.date }}</td>
                <td>{{ invoice.due_date }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% paginate %}


{% endblock %}