{% extends "dashboard.html" %}

{% block title %}Purchase Voucher{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "new_purchase_voucher" %}">Purchase Voucher</a></li>
{% endblock %}

{% block head_end %}
    <script src="http://localhost/acubor_static/js/vendors/knockout.js"></script>
    <script src="http://localhost/acubor_static/js/ko_lib.js"></script>
    <script src="http://localhost/acubor_static/js/base.js"></script>
    <script src="http://localhost/acubor_static/js/invoice.js"></script>
    <script>
        $(document).ready(function () {
            {% load filters %}
            ko.applyBindings(new InvoiceViewModel({{data|jsonify}}));
        });
    </script>
{% endblock %}

{% block content %}

    <div class="page-header position-relative">
        <h1>
            Purchase Voucher
        </h1>
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="row-fluid">

            <div class="span3">
                {{ form.party.label_tag }}
                {{ form.party }}
            </div>

            <div class="span3">
                {{ form.reference.label_tag }}
                {{ form.reference }}
            </div>
        </div>

        <br/>

        <div class="row-fluid">

            <div class="span3">
                {{ form.date.label_tag }}
                <input data-date-format="yyyy-mm-dd" data-bind="value: date" id="inv-date" name="date"
                       required="required" type="text">
                {{ form.date.errors }}
            </div>
            <div class="span3">
                {{ form.due_date.label_tag }}
                <input data-date-format="yyyy-mm-dd" data-bind="value: due_date" id="due-date" name="due_date"
                       type="text">
                {{ form.due_date.errors }}
            </div>
            <div class="span3">
                {{ form.tax.label_tag }}
                {{ form.tax }}
            </div>
            <div class="span3">
                {{ form.currency.label_tag }}
                {{ form.currency }}
            </div>


        </div>

        <div class="row-fluid">

            {{ form.attachment.label_tag }}
            {{ form.attachment }}
            {{ form.attachment.errors }}

        </div>
        <br/>

        <div class="row-fluid" data-bind="with: particulars">

            <input type="hidden" name="particulars" data-bind="value: ko.toJSON($data, null, 2)">

            <table class="table table-bordered table-striped table-acubor table-sortable" id="voucher_table">
                <thead>
                <tr>
                    <th class="span1">SN</th>
                    <th class="span2">Item</th>
                    <th class="span3">Description</th>
                    <th class="span2">Price</th>
                    <th class="span1">Quantity</th>
                    <th class="span1">Discount %</th>
                    <th class="span1">Amount</th>
                    <th class="span1"></th>
                </tr>
                </thead>

                <tbody data-bind="foreach: rows" id="particulars-body">
                <tr>
                    <td>
                        <div class="drag_handle"><i class="icon-ellipsis-vertical"></i>
                        </div>
                        <span class="wid-pad pull-left" data-bind="text:  $index()+1"> </span>
                    </td>
                    <td>
                        <select class="span12 item-selector"
                                data-bind="options: $root.items, optionsText: 'name', optionsValue: 'id', value: item_id, optionsCaption: 'Choose an item...', select2: {},  event: {change: $root.itemChanged}"></select>
                    </td>
                    <td data-bind="editableText: description">
                    </td>
                    <td data-bind="editableText: unit_price, numeric: true">
                    </td>
                    <td data-bind="editableText: quantity, numeric: true">
                    </td>
                    <td data-bind="editableText: discount, numeric: true">
                    </td>
                    <td data-bind="text: amount()">
                    </td>
                    <td>
                        <a class="icon-remove-sign" href="#" data-bind="click: $parent.removeRow"></a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="pull-right"><b>Grand Total: </b> <span data-bind="text: $parent.grand_total()"></span></div>
            <button class="btn" data-bind="click: addRow">
                <i class="icon-plus-sign"></i> Add New Row
            </button>
            <button type="submit" class="btn">Save</button>
        </div>
    </form>


{% endblock %}