{% extends "dashboard.html" %}

{% block title %}Sales Voucher{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "sales-voucher" %}">Sales Voucher</a></li>
{% endblock %}

{% block head_end %}
    <script src="http://static.acubor.com/js/knockout.js"></script>
    <script src="http://static.acubor.com/js/ko.js"></script>
{% endblock %}

{% block content %}
    <div id="page-content" class="clearfix">

        <div class="page-header position-relative">
            <h1>
                Voucher Sales
            </h1>
        </div>

        <div class="row-fluid">

            <form method="post" action="">{% csrf_token %}

                TO:
                <input type="text" name="party">

                Invoice No:
                <input type="text" name="invoice_no">

                Reference:
                <input type="text" name="reference">

                {{ form.currency.label_tag }}
                {{ form.currency }}




            </form>

        </div>
    </div>
    </div>

{% endblock %}