{% extends "dashboard.html" %}

{% block title %}Sales Voucher{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "sales-voucher" %}">Sales Voucher</a></li>
{% endblock %}

{% block head_end %}
    <script src="http://static.acubor.com/js/knockout.js"></script>
    <script src="http://static.acubor.com/js/ko.js"></script>
    <script>
        $(document).ready(function () {
            {% load filters %}
            json_data = {{data|jsonify}};
            ko.applyBindings(new InvoiceViewModel(json_data));
        });
    </script>
{% endblock %}

{% block content %}

    {{ data }}

    <div id="page-content" class="clearfix">

        <div class="page-header position-relative">
            <h1>
                Voucher Sales
            </h1>
        </div>

        <div class="row-fluid">

            <form method="post" action="">{% csrf_token %}

                {{ form.party.label_tag }}
                {{ form.party }}

                Invoice No:
                <input type="text" name="invoice_no">

                {{ form.reference.label_tag }}
                {{ form.reference }}

                {{ form.currency.label_tag }}
                {{ form.currency }}

                <table>
                    <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                    </tr>
                    </thead>

                    <tbody data-bind='foreach: particulars'>
                    <tr>
                        <td><span data-bind="text: item_name" contenteditable="true"></span></td>
                        <td><span data-bind="text: price" contenteditable="true"></span></td>
                        <td><i class="icon-remove-sign" data-bind="click: $root.removeParticular"></i></td>
                    </tr>
                    </tbody>
                </table>

                <i class="icon-plus-sign" data-bind="click: addParticular"></i>
                <button data-bind='click: save'>Save</button>

            </form>

        </div>
    </div>
    </div>

{% endblock %}