{% load filters %}
<script>
    console.log('hey');
    var obj = {{ obj|jsonify }};
    $('#modal' + $('.modal').length).modal('hide');
    el = $(window.last_active_select);
    var matches = el.data('bind').match(/\{results: \$root\.([a-z_]+)\}/);
    if (el.data('add-to')) {
        vm[el.data('add-to')].push(obj);
        el.select2('data', obj);
        el.trigger('change');
    }
    else if (matches) {
        var match = matches[1];
        vm[match].push(obj);
        el.select2('data', obj);
        el.trigger('change');
    }
    else {
        el.append("<option value='" + obj.id + "'>" + obj.text + "</option>")
        el.trigger('change');
        el.select2('val', obj.id);
    }
    el.select2('close');
</script>