<!DOCTYPE HTML>
<html>
{% load filters %}
<head>
    <title>{% block title %}{% endblock %}</title>

    <link href="{{ STATIC_URL }}css/vendors/bootstrap.min.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/vendors/bootstrap-responsive.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css">

    <!--[if IE 7]>
        <link rel="stylesheet" href="{{ STATIC_URL }}font-awesome/css/font-awesome-ie7.min.css" />
    <![endif]-->

    {#<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />#}
    <link href="{{ STATIC_URL }}css/vendors/w8-responsive.min.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/vendors/w8.min.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/vendors/w8-skins.min.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/vendors/datepicker.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/vendors/select2.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/print.css" rel="stylesheet" media="print"/>

    <link href="{{ STATIC_URL }}css/styles.css" rel="stylesheet"/>
    <link href="{{ STATIC_URL }}css/base.css" rel="stylesheet"/>

    <script src="{{ STATIC_URL }}js/vendors/jquery.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendors/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendors/jquery.ui.touch-punch.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendors/jquery.slimscroll.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendors/jquery.easy-pie-chart.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendors/jquery.sparkline.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendors/jquery.flot.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendors/jquery.flot.pie.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendors/jquery.flot.resize.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendors/w8-elements.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendors/w8.min.js"></script>
    <script src="{{ STATIC_URL }}js/vendors/bootstrap.js"></script>
    <script src="{{ STATIC_URL }}js/vendors/bootstrap-datepicker.js"></script>
    <script src="{{ STATIC_URL }}js/vendors/select2.js"></script>
    <script src="{{ STATIC_URL }}js/base.js"></script>

    {% block extra-head %}{% endblock %}

</head>

<body>

<div class="navbar navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Acubor Accounting App for {{ request.company.name }}</a>

            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li><a href="#">Home</a>
                    </li>
                    <li><a href="#about">Payment And Subscriptions</a>
                    </li>
                    <li><a href="#contact">Contact Us</a>
                    </li>
                    <li><a href="#contact">Get A Demo</a>
                    </li>
                    {% if user.is_admin %}
                        <li><a href="/acubor-admin/">Admin Panel</a>
                        </li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}
                    <ul class="pull-right nav ">
                        <li class="dropdown">
                            <a href="/user/{{ user.email }}" class="dropdown-toggle" data-toggle="dropdown">
                                {{ user.email }} <i class="icon-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="">Settings</a>
                                </li>
                                <li><a href="/user/logout">Logout</a>

                                </li>
                                {% for role in request.user.roles.all %}
                                    {% if role.company.id != request.company.id %}
                                        <li>
                                            <a href="/user/set-company/{{ role.company.id }}">Use
                                                as {{ role.company }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <form method="post" action="{% url 'django.contrib.auth.views.login' %}"
                          class="navbar-form header-login pull-right">
                        {% csrf_token %} {% if state %} {{ state }} {% endif %} {% if next %}
                        <input type="hidden" name="next" value="{{ next }}"/>{% endif %}
                        <input type="text" class="span2" name="username" value="{{ username }}" required
                               placeholder="Email"/>
                        <input type="password" class="span2" name="password" value="" required placeholder="Password"/>

                        <input type="submit" value="Log In" class="btn"/>
                        <br/>
                    </form>
                {% endif %}
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid" id="main-container">
<a id="menu-toggler" href="#">
    <span></span>
</a>

<div id="sidebar">

<div class="sidebar-collapse">
    <i class="icon-double-angle-right"></i>
</div>

<ul class="nav nav-list">

<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-edit"></i>
        <span>Day Journal</span>
        <b class="arrow icon-angle-down"></b>
    </a>
    <ul class="submenu">
        <li>
            <a href="/day/">
                <i class="icon-double-angle-right"></i>
                Today's Day Journal
            </a>
        </li>
        <li>
            <a href="/day/journals/">
                <i class="icon-double-angle-right"></i>
                All Day Journals
            </a>
        </li>
    </ul>
</li>

<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-file"></i>
        <span>Invoice</span>

        <b class="arrow icon-angle-down"></b>
    </a>
    <ul class="submenu">
        <li>
            <a href="/voucher/invoice/new/">
                <i class="icon-double-angle-right"></i>
                New Invoice
            </a>
        </li>
        <li>
            <a href="/voucher/invoices/">
                <i class="icon-double-angle-right"></i>
                All Invoices
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-file-text-alt"></i>
        <span>Purchase Bill</span>

        <b class="arrow icon-angle-down"></b>
    </a>
    <ul class="submenu">
        <li>
            <a href="/voucher/purchase/new/">
                <i class="icon-double-angle-right"></i>
                New Bill
            </a>
        </li>
        <li>
            <a href="/voucher/purchases/">
                <i class="icon-double-angle-right"></i>
                All Bills
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-building"></i>
        <span>Bank</span>

        <b class="arrow icon-angle-down"></b>
    </a>
    <ul class="submenu">
        <li>
            <a href="/bank/account/create/">
                <i class="icon-double-angle-right"></i>
                New Bank Account
            </a>
        </li>
        <li>
            <a href="/bank/accounts/">
                <i class="icon-double-angle-right"></i>
                All Bank Accounts
            </a>
        </li>
        <li>
            <a href="/bank/cash-deposit/">
                <i class="icon-double-angle-right"></i>
                New Cash Deposit
            </a>
        </li>
        <li>
            <a href="/bank/cash-deposits/">
                <i class="icon-double-angle-right"></i>
                All Cash Deposits
            </a>
        </li>
        <li>
            <a href="/bank/cheque-deposit/">
                <i class="icon-double-angle-right"></i>
                New Cheque Deposit
            </a>
        </li>
        <li>
            <a href="/bank/cheque-deposits/">
                <i class="icon-double-angle-right"></i>
                All Cheque deposits
            </a>
        </li>
        <li>
            <a href="/bank/cheque-payment/">
                <i class="icon-double-angle-right"></i>
                New Cheque Payment
            </a>
        </li>
        <li>
            <a href="/bank/cheque-payments/">
                <i class="icon-double-angle-right"></i>
                All Cheque Payments
            </a>
        </li>
        <li>
            <a href="/bank/electronic-fund-transfer-in/">
                <i class="icon-double-angle-right"></i>
                New EFT In
            </a>
        </li>
        <li>
            <a href="/bank/electronic-fund-transfers-in/">
                <i class="icon-double-angle-right"></i>
                All EFTs In
            </a>
        </li>
        <li>
            <a href="/bank/electronic-fund-transfer-out/">
                <i class="icon-double-angle-right"></i>
                New EFT Out
            </a>
        </li>
        <li>
            <a href="/bank/electronic-fund-transfers-out/">
                <i class="icon-double-angle-right"></i>
                All EFTs Out
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-book"></i>
        <span>Journal Voucher</span>

        <b class="arrow icon-angle-down"></b>
    </a>
    <ul class="submenu">
        <li>
            <a href="/voucher/journal">
                <i class="icon-double-angle-right"></i>
                New Journal Voucher
            </a>
        </li>
        <li>
            <a href="/voucher/journals/">
                <i class="icon-double-angle-right"></i>
                All Journal Voucher
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-group"></i>
        <span>Accounts</span>

        <b class="arrow icon-angle-down"></b>
    </a>
    <ul class="submenu">
        <li>
            <a href="/ledger/create/">
                <i class="icon-double-angle-right"></i>
                New Account
            </a>
        </li>
        <li>
            <a href="/ledger/">
                <i class="icon-double-angle-right"></i>
                All Accounts
            </a>
        </li>
        <li>
            <a href="/ledger/category/create/">
                <i class="icon-double-angle-right"></i>
                New Category
            </a>
        </li>
        <li>
            <a href="/ledger/categories/">
                <i class="icon-double-angle-right"></i>
                All Categories
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-briefcase"></i>
        <span>Inventory</span>

        <b class="arrow icon-angle-down"></b>
    </a>
    <ul class="submenu">
        <li>
            <a href="/inventory/create/">
                <i class="icon-double-angle-right"></i>
                New Item
            </a>
        </li>
        <li>
            <a href="/inventory/items/">
                <i class="icon-double-angle-right"></i>
                All Items
            </a>
        </li>
        <li>
            <a href="/inventory/category/create/">
                <i class="icon-double-angle-right"></i>
                New Inventory Category
            </a>
        </li>
        <li>
            <a href="/inventory/categories/">
                <i class="icon-double-angle-right"></i>
                All Inventory Categories
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-money"></i>
        <span>Payroll</span>

        <b class="arrow icon-angle-down"></b>
    </a>
    <ul class="submenu">
        <li>
            <a href="/payroll/entry/">
                <i class="icon-double-angle-right"></i>
                New Payroll Entry
            </a>
        </li>
        <li>
            <a href="/payroll/entries/">
                <i class="icon-double-angle-right"></i>
                All Payroll Entries
            </a>
        </li>
    </ul>
</li>
<li>
    <a href="/report/trial-balance/">
        <i class="icon-list-alt"></i>
        <span>Reports</span>
    </a>
</li>
<li>
    <a href="#" class="dropdown-toggle">
        <i class="icon-gears"></i>
        <span>Settings</span>

        <b class="arrow icon-angle-down"></b>
    </a>
    <ul class="submenu">
        <li>
            <a href="/settings/company/">
                <i class="icon-double-angle-right"></i>
                Company Settings
            </a>
        </li>
        {% ifusergroup 'Owner' 'SuperOwner' %}
            <li>
                <a href="/user/roles/">
                    <i class="icon-double-angle-right"></i>
                    Company Roles
                </a>
            </li>
        {% endifusergroup %}
        <li>
            <a href="/tax/schemes/">
                <i class="icon-double-angle-right"></i>
                Tax Schemes
            </a>
        </li>
        <li>
            <a href="/tax/scheme/create/">
                <i class="icon-double-angle-right"></i>
                New Tax Scheme
            </a>
        </li>
    </ul>
</li>
</ul>
<!--/.nav-list-->

<div class="sidebar-collapse">
    <i class="icon-double-angle-right"></i>
</div>
</div>
<div id="main-content" class="clearfix">
    <div id="breadcrumbs">
        <ul class="breadcrumb">

            {% block breadcrumbs %}
                <li>
                    <i class="icon-home"></i>
                    <a href="/">Dashboard</a>
                        <span class="divider"><i class="icon-angle-right"></i>
                        </span>
                </li>
            {% endblock %}

        </ul>
        <!--.breadcrumb-->

        <div class="pull-right">
            {% block controls %}
                <a href="javascript:window.print();"><i class="icon-print"></i> Print</a>
            {% endblock %}
        </div>

    </div>

    <div id="page-content" class="clearfix">

        <div class="page-header position-relative">
            <h1>{% block pageheader %}{% endblock %}</h1>
        </div>

        {% block content %}{% endblock %}

    </div>
    <!--
    <div id="ace-settings-container">
        <div class="btn btn-app btn-mini btn-warning" id="ace-settings-btn">
            <i class="icon-cog"></i>
        </div>

        <div id="ace-settings-box">
            <div>
                <div class="pull-left">
                    <select id="skin-colorpicker" class="hidden">
                        <option data-class="default" value="#438EB9">#438EB9</option>
                        <option data-class="skin-1" value="#222A2D">#222A2D</option>
                        <option data-class="skin-2" value="#C6487E">#C6487E</option>
                        <option data-class="skin-3" value="#D0D0D0">#D0D0D0</option>
                    </select>
                </div>
                <span>&nbsp; Choose Skin</span>
            </div>
        </div>
    </div>
    -->
    <!--/#ace-settings-container-->
</div>

</div>

<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>

<div id="modal" class="modal hide fade"></div>
</body>

</html>