<!DOCTYPE HTML>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="http://static.acubor.com/css/base.css">
    <link href="http://static.acubor.com/css/vendors/bootstrap.min.css" rel="stylesheet" />
    <link href="http://static.acubor.com/css/vendors/bootstrap-responsive.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="http://static.acubor.com/css/font-awesome/css/font-awesome.min.css" />

    <!--[if IE 7]>
  <link rel="stylesheet" href="http://static.acubor.com/font-awesome/css/font-awesome-ie7.min.css" />
  <![endif]-->

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />

    <link href="http://static.acubor.com/css/vendors/w8-responsive.min.css" rel="stylesheet" />
    <link href="http://static.acubor.com/css/vendors/w8.min.css" rel="stylesheet" />
    <link href="http://static.acubor.com/css/vendors/w8-skins.min.css" rel="stylesheet" />

    <link href="http://static.acubor.com/css/vendors/datepicker.css" rel="stylesheet" />

    <link href="http://static.acubor.com/css/styles.css" rel="stylesheet" />

    <link href="http://static.acubor.com/css/base.css" rel="stylesheet" />


    {#  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>#}
    {#  <script type="text/javascript">#}
    {#    window.jQuery || document.write("<script src='http://static.acubor.com/js/jquery.min.js'>"+"<"+"/script>");#}
    {#  </script>#}

    <script src="http://static.acubor.com/js/vendors/jquery.min.js"></script>
    <script src="http://static.acubor.com/js/vendors/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="http://static.acubor.com/js/vendors/jquery.ui.touch-punch.min.js"></script>
    <script src="http://static.acubor.com/js/vendors/jquery.slimscroll.min.js"></script>
    <script src="http://static.acubor.com/js/vendors/jquery.easy-pie-chart.min.js"></script>
    <script src="http://static.acubor.com/js/vendors/jquery.sparkline.min.js"></script>
    <script src="http://static.acubor.com/js/vendors/jquery.flot.min.js"></script>
    <script src="http://static.acubor.com/js/vendors/jquery.flot.pie.min.js"></script>
    <script src="http://static.acubor.com/js/vendors/jquery.flot.resize.min.js"></script>
    <script src="http://static.acubor.com/js/vendors/w8-elements.min.js"></script>
    <script src="http://static.acubor.com/js/vendors/w8.min.js"></script>
    <script src="http://static.acubor.com/js/vendors/bootstrap.js"></script>
    <script src="http://static.acubor.com/js/vendors/bootstrap-datepicker.js"></script>



    {% block head_end %}{% endblock %}

</head>
<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Acubor</a>
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#about">Payment And Subscriptions</a></li>
                    <li><a href="#contact">Contact Us</a></li>
                    <li><a href="#contact">Get A Demo</a></li>
                </ul>
                {% if user.is_authenticated %}
                    <ul class="pull-right nav">
                        <li><a href="/user/{{user.email}}">{{user.email}}</a></li>
                        <li><a href="/user/logout">Logout</a></li>
                    </ul>
                {% else %}
                    <form method="post" action="{% url 'django.contrib.auth.views.login' %}" class="navbar-form header-login pull-right">
                        {% csrf_token %}
                        {% if state %}
                            {{ state }}
                        {% endif %}
                        {% if next %}
                            <input type="hidden" name="next" value="{{ next }}" />
                        {% endif %}
                        <input type="text" class="span2" name="username" value="{{ username }}" required placeholder="Email" />
                        <input type="password" class="span2" name="password" value="" required placeholder="Password" />

                        <input type="submit" value="Log In" class="btn" />
                        <br/>
                    </form>
                {% endif %}
            </div><!--/.nav-collapse -->
        </div>
    </div>
</div>

<div class="container-fluid" id="main-container">
<a id="menu-toggler" href="#">
    <span></span>
</a>

<div id="sidebar">
<div id="sidebar-shortcuts">
    <div id="sidebar-shortcuts-large">
        <button class="btn btn-small btn-success">
            <i class="icon-signal"></i>
        </button>

        <button class="btn btn-small btn-info">
            <i class="icon-pencil"></i>
        </button>

        <button class="btn btn-small btn-warning">
            <i class="icon-group"></i>
        </button>

        <button class="btn btn-small btn-danger">
            <i class="icon-cogs"></i>
        </button>
    </div>

    <div id="sidebar-shortcuts-mini">
        <span class="btn btn-success"></span>

        <span class="btn btn-info"></span>

        <span class="btn btn-warning"></span>

        <span class="btn btn-danger"></span>
    </div>
</div><!--#sidebar-shortcuts-->

<ul class="nav nav-list">
    <li class="active">
        <a href="/voucher/invoice">
            <i class="icon-dashboard"></i>
            <span>Invoice</span>
        </a>
    </li>

    <li>
        <a href="typography.html">
            <i class="icon-text-width"></i>
            <span>Expense Bills</span>
        </a>
    </li>

    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-desktop"></i>
            <span>Transactions</span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="/voucher/sales">
                    <i class="icon-double-angle-right"></i>
                    Sales Voucher
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                    Store Transactions
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                    Salary Transactions
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#">
            <i class="icon-list"></i>
            <span>Gas</span>
        </a>
    </li>

    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-edit"></i>
            <span>Payments</span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                    To Pay
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                    To Collect
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                    Wysiwyg &amp; Markdown
                </a>
            </li>
        </ul>
    </li>

    <li>
        <a href="#">
            <i class="icon-list-alt"></i>
            <span>Money Order</span>
        </a>
    </li>

    <li>
        <a href="#">
            <i class="icon-calendar"></i>
            <span>Food Coupons</span>
        </a>
    </li>

    <li>
        <a href="#">
            <i class="icon-picture"></i>
            <span>Groceries</span>
        </a>
    </li>

    <li>
        <a href="#">
            <i class="icon-th"></i>
            <span>Sales</span>
        </a>
    </li>

    <li>
        <a href="#" class="dropdown-toggle">
            <i class="icon-file"></i>
            <span>Other Pages</span>

            <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
            <li>
                <a href="/settings/company">
                    <i class="icon-double-angle-right"></i>
                    Company Settings
                </a>
            </li>

            <li>
                <a href="/party/create">
                    <i class="icon-double-angle-right"></i>
                    Create Party
                </a>
            </li>

            <li>
                <a href="/inventory/create">
                    <i class="icon-double-angle-right"></i>
                    Add Inventory Items
                </a>
            </li>

            <li>
                <a href="/tax/">
                    <i class="icon-double-angle-right"></i>
                    View Tax Schemes
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                    Error 500
                </a>
            </li>

            <li>
                <a href="#">
                    <i class="icon-double-angle-right"></i>
                    Blank Page
                </a>
            </li>
        </ul>
    </li>
</ul><!--/.nav-list-->

<div id="sidebar-collapse">
    <i class="icon-double-angle-left"></i>
</div>
</div>
<div id="main-content" class="clearfix">
    <div id="breadcrumbs">
        <ul class="breadcrumb">



            {% block breadcrumbs %}

                <li>
                    <i class="icon-home"></i>
                    <a href="{% url "home" %}">Home</a>
                <span class="divider">
                <i class="icon-angle-right"></i>
                </span>
                </li>
            {% endblock %}

        </ul><!--.breadcrumb-->

        <div id="nav-search">
            <form class="form-search">
              <span class="input-icon">
                <input type="text" placeholder="Search ..." class="input-small search-query" id="nav-search-input" autocomplete="off" />
                <i class="icon-search" id="nav-search-icon"></i>
              </span>
            </form>
        </div><!--#nav-search-->
    </div>

    <div id="page-content" class="clearfix">

        {% block content %}{% endblock %}

    </div>
    <div id="ace-settings-container">
        <div class="btn btn-app btn-mini btn-warning" id="ace-settings-btn">
            <i class="icon-cog"></i>
        </div>

        <div id="ace-settings-box">
            <div>
                <div class="pull-left">
                    <select id="skin-colorpicker" class="hidden">
                        <option data-class="default" value="#438EB9">#438EB9</option>
                        <option data-class="skin-1" value="#222A2D">#222A2D</option>
                        <option data-class="skin-2" value="#C6487E">#C6487E</option>
                        <option data-class="skin-3" value="#D0D0D0">#D0D0D0</option>
                    </select>
                </div>
                <span>&nbsp; Choose Skin</span>
            </div>

            <div>
                <input type="checkbox" class="ace-checkbox-2" id="ace-settings-header" />
                <label class="lbl" for="ace-settings-header"> Fixed Header</label>
            </div>

            <div>
                <input type="checkbox" class="ace-checkbox-2" id="ace-settings-sidebar" />
                <label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
            </div>
        </div>
    </div><!--/#ace-settings-container-->
</div>

</div>

<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
</a>

</body>
</html>