{%  extends "dashboard.html" %}

{% block title %}Day Journal for {{ journal.date }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "new_day_journal" %}">Invoice</a></li>
{% endblock %}

{% block head_end %}
    <script src="http://static.acubor.com/js/vendors/knockout.js"></script>
    <script src="http://static.acubor.com/js/ko_lib.js"></script>
    <script src="http://static.acubor.com/js/base.js"></script>
    <script src="http://static.acubor.com/js/day_journal.js"></script>
    <script>
        $(document).ready(function () {

            {% load filters %}

            var day_journal = {{ journal|jsonify }}

            console.log(day_journal)



        });
    </script>
{% endblock %}

{% block content %}

    <div class="page-header position-relative">
        <h1>
            Day Journal for {{ journal.date }}
        </h1>
    </div>

    {{ journal|jsonify }}


    {#    <form method="post" action="#" data-bind='submit: save' >#}
    {#        {% csrf_token %}#}



    <div class="row-fluid" id="day-cash-sales">

        <table class="table table-bordered table-striped table-acubor table-sortable">
            <thead>
            <tr>
                <th class="span2">SN</th>
                <th class="span4">Item</th>
                <th class="span2">Quantity</th>
                <th class="span1">Rate</th>
                <th class="span2">Amount</th>
                <th class="span1"></th>
            </tr>
            </thead>

            <tbody data-bind='foreach: rows'>
            <tr>
                <td>
                    <span class="wid-pad pull-left" data-bind="text: sn"> </span>
                </td>
                <td>
                    <div data-bind="editableText: item_name, typeahead: $root.items, attr: {'data-index': sn}, event: {'blur': $root.updateParticular}" class="item-complete-box span10 pull-left" ></div>
                    <a href="#" data-bind="click: show_items" class="show_all_items pull-right wid-pad">
                        <i class="icon-chevron-sign-down"></i>
                    </a>
                </td>
                <td data-bind="editableText: unit_price, numeric: true">
                </td>
                <td data-bind="editableText: quantity, numeric: true">
                </td>
                <td data-bind="text: amount()">
                </td>
                <td>
                    <a class="icon-remove-sign" href="#" data-bind="click: $root.removeRow"></a>
                </td>
            </tr>
            </tbody>
        </table>
        <button class="btn" data-bind="click: addRow">
            <i class="icon-plus-sign hand-on-hover" ></i> Add New Row
        </button>

    </div>


{% endblock %}