{% extends "dashboard.html" %}

{% block title %}All Day Journals {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "all_day_journals" %}">All Day Journals</a></li>
{% endblock %}


{% block head_end %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/dashboard.js"></script>
{% endblock %}

{% block pageheader %}
    All Day Journals
{% endblock %}

{% block content %}

    <input type="text" id="day-journal-date" class="date-picker" data-date-format="yyyy-mm-dd"
           placeholder="Pick a date..."/>
    <button id="day-journal-selection-button" class="btn btn-mini">Go</button>


    {% load pagination_tags %}
    {% autopaginate objects 303 as paginated_objects %}

    <ul>
        {% for journal in paginated_objects %}
            <li>
                <a href="/day/{{ journal.date|date:"Y-m-d" }}">{{ journal.date }}</a>
            </li>
        {% endfor %}
    </ul>

    {% paginate %}


{% endblock %}