{%  extends "dashboard.html" %}

{% block title %}Day Journal for {{ day_journal.date }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "new_day_journal" %}">Day Journal</a></li>
{% endblock %}

{% block head_end %}
    <script src="http://localhost/acubor_static/js/vendors/knockout.js"></script>
    <script src="http://localhost/acubor_static/js/ko_lib.js"></script>
    <script src="http://localhost/acubor_static/js/base.js"></script>
    <script src="http://localhost/acubor_static/js/day_journal.js"></script>
    <script>
        $(document).ready(function () {
            {% load filters %}
            ko.applyBindings(new DayJournal({{ day_journal|jsonify }}));
        });
    </script>
{% endblock %}

{% block content %}

    {{ day_journal }}

    <div class="page-header position-relative">
        <h1>
            Details for {{ day_journal.date }}
        </h1>
    </div>


{% endblock %}