{% extends "dashboard.html" %}

{% block title %}Day Journal for {{ day_journal.date }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "new_day_journal" %}">Day Journal</a></li>
{% endblock %}

{% block head_end %}
    <script src="http://localhost/acubor_static/js/vendors/knockout.js"></script>
    <script src="http://localhost/acubor_static/js/ko_lib.js"></script>
    <script src="http://localhost/acubor_static/js/base.js"></script>
    <script src="http://localhost/acubor_static/js/day_journal.js"></script>
    <script>
        $(document).ready(function () {
            {% load filters %}
            ko.applyBindings(new DayJournal({{ day_journal|jsonify }}));
            $(document).on('click', '.alert', function () {
                $(this).addClass('hide').removeClass('show');
            });
        });
    </script>
{% endblock %}

{% block content %}

    <!-- {{ day_journal }} -->

    <div class="page-header position-relative">
        <h1>
            Day Journal for {{ day_journal.date }}
        </h1>
    </div>

    <!-- Cash Tab -->
    <div class="tabbable">
    <ul class="nav nav-tabs" id="sales_tab">
        <li class="active">
            <a data-toggle="tab" href="#cash_sales">
                Cash Sales
            </a>
        </li>

        <li>
            <a data-toggle="tab" href="#cash_purchase">
                Cash Purchase
            </a>
        </li>

        <li>
            <a data-toggle="tab" href="#cash_payments">
                Cash Payments
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#cash_receipt">
                Cash Receipt
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#remitt_and_transfer">
                Transfers/Remittance
            </a>
        </li>
    </ul>
    <div class="tab-content">

    <div id="cash_sales" class="tab-pane active">
        <div class="row-fluid" data-bind="with: cash_sales">
            <table class="table table-bordered table-striped table-acubor table-sortable">
                <thead>
                <tr>
                    <th class="span1">SN</th>
                    <th class="span2">Sales Ledger</th>
                    <th class="span2">Amount</th>
                    <th class="span2">Tax</th>
                    <th class="span1"></th>
                </tr>
                </thead>

                <tbody id="cash-sales">
                <!-- ko foreach: rows -->
                <tr data-bind="flash: true">
                    <td>
                        <span data-bind="text: $index()+1"> </span>
                    </td>
                    <td class="with_ip">
                        <select class="span12"
                                data-bind="options: $root.accounts_by_category(['Sales', 'Lotto', 'Lottery'], true), optionsText: 'name', optionsValue: 'id', value: account_id, optionsCaption: 'Choose an account..', select2: {}, event: {change: $root.account_changed}"></select>
                    </td>
                    <td data-bind="editableText: amount, numeric: true"></td>
                    <td data-bind="text: tax()"></td>
                    <td align="center">
                        <button class="close" data-bind="click: $parent.removeRow">
                            <i class="icon-trash"></i>
                        </button>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
            <div data-bind="css: status()" class="pull-left">
                  <span data-bind="text: message()">
                  </span>
            </div>
            <div class="pull-right">
                <button class="btn btn-small" data-bind="click: addRow"><i class="icon-plus-sign"></i> Add New Row
                </button>
                <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save</button>
                <button class="btn btn-small" data-bind="click: reset">Reset</button>
            </div>
        </div>
    </div>

    <div id="cash_purchase" class="tab-pane">
        <div class="row-fluid" data-bind="with: cash_purchase">
            <table class="table table-bordered table-striped table-acubor table-sortable">
                <thead>
                <tr>
                    <th class="span1">SN</th>
                    <th class="span2">Purchase Ledger</th>
                    <th class="span2">Amount</th>
                    <th class="span1"></th>
                </tr>
                </thead>
                <tbody id="cash-purchase">
                <!-- ko foreach: rows -->
                <tr data-bind="flash: true">
                    <td>
                        <span data-bind="text: $index()+1"> </span>
                    </td>
                    <td class="with_ip">
                        <select class="span12"
                                data-bind="options: $root.accounts_by_category('Purchase'), optionsText: 'name', optionsValue: 'id', value: account_id, select2: {}"></select>
                    </td>
                    <td data-bind="editableText: amount"></td>
                    <td>
                        <button class="close" data-bind="click: $parent.removeRow">
                            <i class="icon-trash"></i>
                        </button>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
            <div data-bind="css: status()" class="pull-left">
                  <span data-bind="text: message()">
                  </span>
            </div>
            <div class="pull-right">
                <button class="btn btn-small" data-bind="click: addRow"><i class="icon-plus-sign"></i> Add New Row
                </button>
                <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save</button>
                <button class="btn btn-small" data-bind="click: reset">Reset</button>
            </div>
        </div>
    </div>

    <div id="cash_payments" class="tab-pane">
        <div class="row-fluid" data-bind="with: cash_payment">
            <table class="table table-bordered table-striped table-acubor table-sortable">
                <thead>
                <tr>
                    <th class="span1">SN</th>
                    <th class="span2">Paid To</th>
                    <th class="span2">Amount</th>
                    <th class="span1"></th>
                </tr>
                </thead>

                <tbody id="cash-payment">
                <!-- ko foreach: rows -->
                <tr data-bind="flash: true">
                    <td>
                        <span data-bind="text: $index()+1"> </span>
                    </td>
                    <td class="with_ip">
                        <select class="span12"
                                data-bind="options: $root.accounts, optionsText: 'name', optionsValue: 'id', value: account_id, select2: {}"></select>
                    </td>
                    <td data-bind="editableText: amount"></td>
                    <td>
                        <button class="close" data-bind="click: $parent.removeRow">
                            <i class="icon-trash"></i>
                        </button>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
            <div data-bind="css: status()" class="pull-left">
                  <span data-bind="text: message()">
                  </span>
            </div>
            <div class="pull-right">
                <button class="btn btn-small" data-bind="click: addRow"><i class="icon-plus-sign"></i> Add New Row
                </button>
                <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save</button>
                <button class="btn btn-small" data-bind="click: reset">Reset</button>
            </div>
        </div>
    </div>

    <div id="cash_receipt" class="tab-pane">
        <div class="row-fluid" data-bind="with: cash_receipt">
            <table class="table table-bordered table-striped table-acubor table-sortable">
                <thead>
                <tr>
                    <th class="span1">SN</th>
                    <th class="span2">Received From</th>
                    <th class="span2">Amount</th>
                    <th class="span1"></th>
                </tr>
                </thead>
                <tbody id="cash-receipt">
                <!-- ko foreach: rows -->
                <tr data-bind="flash: true">
                    <td>
                        <span data-bind="text: $index()+1"> </span>
                    </td>
                    <td class="with_ip">
                        <select class="span12"
                                data-bind="options: $root.accounts, optionsText: 'name', optionsValue: 'id', value: account_id, select2: {}"></select>
                    </td>
                    <td data-bind="editableText: amount"></td>
                    <td>
                        <button class="close" data-bind="click: $parent.removeRow">
                            <i class="icon-trash"></i>
                        </button>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
            <div data-bind="css: status()" class="pull-left">
                  <span data-bind="text: message()">
                  </span>
            </div>
            <div class="pull-right">
                <button class="btn btn-small" data-bind="click: addRow"><i class="icon-plus-sign"></i> Add New Row
                </button>
                <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save</button>
                <button class="btn btn-small" data-bind="click: reset">Reset</button>
            </div>
        </div>
    </div>

    <div id="remitt_and_transfer" class="tab-pane">
        <div class="row-fluid" data-bind="with: summary_transfer">
            <table class="table table-bordered table-striped table-acubor table-sortable">
                <thead>
                <tr>
                    <th>SN</th>
                    <th>Transfer Type</th>
                    <th>Cash</th>
                    <th>Cheque</th>
                    <th>Card</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="summary-transfer">
                <!-- ko foreach: rows -->
                <tr data-bind="flash: true">
                    <td data-bind="text: $index()+1"></td>
                    <td class="with_ip">
                        <select class="span12"
                                data-bind="options: $root.accounts_by_category('Transfers/Remittances'), optionsText: 'name', optionsValue: 'id', value: transfer_type, select2: {placeholderOption: 'first'}"></select>
                    </td>
                    <td data-bind="editableText: cash"></td>
                    <td data-bind="editableText: cheque"></td>
                    <td data-bind="editableText: card"></td>
                    <td>
                        <button class="close" data-bind="click: $parent.removeRow">
                            <i class="icon-trash"></i>
                        </button>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
            <div data-bind="css: status()" class="pull-left">
                  <span data-bind="text: message()">
                  </span>
            </div>
            <div class="pull-right">
                <button class="btn btn-small" data-bind="click: addRow"><i class="icon-plus-sign"></i> Add New Row
                </button>
                <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save</button>
                <button class="btn btn-small" data-bind="click: reset">Reset</button>
            </div>
        </div>
    </div>

    </div>
    </div>
    <!-- EOF Cash Tab -->

    <br>

    <!-- Banks and Cards Tab -->
    <div class="tabbable">
        <ul class="nav nav-tabs" id="purchase_tab">
            <li class="active">
                <a data-toggle="tab" href="#bank_tab">
                    Bank
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#cheque_purchase">
                    Cheque Purchase
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#card_sales">
                    Card Sales
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#card_eqv_sales">
                    Cash Equivalent Sales
                </a>
            </li>
        </ul>
        <div class="tab-content">

            <div id="bank_tab" class="tab-pane active">
                <div class="row-fluid" data-bind="with: summary_bank">
                    <table class="table table-bordered table-striped table-acubor table-sortable">
                        <thead>
                        <tr>
                            <th class="span2"></th>
                            <th class="span2">Deposits</th>
                            <th class="span2">Withdrawals</th>
                        </tr>
                        </thead>
                        <tbody id="summary-bank">
                        <tr>
                            <td><b>Cash</b></td>
                            <td data-bind="editableText: rows()[0].deposit"></td>
                            <td data-bind="editableText: rows()[0].withdrawal"></td>
                        </tr>
                        <tr>
                            <td><b>Cheque</b></td>
                            <td data-bind="editableText: rows()[1].deposit"></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <div data-bind="css: status()" class="pull-left">
                <span data-bind="text: message()">
                </span>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save</button>
                    </div>
                </div>
            </div>

            <div id="cheque_purchase" class="tab-pane">
                <div class="row-fluid" data-bind="with: cheque_purchase">
                    <table class="table table-bordered table-striped table-acubor table-sortable">
                        <thead>
                        <tr>
                            <th class="span2">Amount</th>
                            <th class="span2">Commission In</th>
                            <th class="span2">Net</th>
                        </tr>
                        </thead>

                        <tbody id="cheque-purchase">
                        <!-- ko foreach: rows -->
                        <tr>
                            <td data-bind="editableText: amount"></td>
                            <td data-bind="editableText: commission_in"></td>
                            <td data-bind="text: net()"></td>
                        </tr>
                        <!-- /ko -->
                        </tbody>
                    </table>
                    <div data-bind="css: status()" class="pull-left">
                <span data-bind="text: message()">
                </span>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save</button>
                        <button class="btn btn-small" data-bind="click: reset">Reset</button>
                    </div>
                </div>
            </div>

            <div id="card_sales" class="tab-pane">
                <div class="row-fluid" data-bind="with: card_sales">
                    <table class="table table-bordered table-striped table-acubor table-sortable">
                        <thead>
                        <tr>
                            <th class="span2">Amount</th>
                            <th class="span2">Commission Out</th>
                            <th class="span2">Net</th>
                        </tr>
                        </thead>

                        <tbody id="card-sales">
                        <!-- ko foreach: rows -->
                        <tr>
                            <td data-bind="editableText: amount"></td>
                            <td data-bind="editableText: commission_out"></td>
                            <td data-bind="text: net()"></td>
                        </tr>
                        <!-- /ko -->
                        </tbody>
                    </table>
                    <div data-bind="css: status()" class="pull-left">
                <span data-bind="text: message()">
                </span>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save</button>
                        <button class="btn btn-small" data-bind="click: reset">Reset</button>
                    </div>
                </div>
            </div>

            <div id="card_eqv_sales" class="tab-pane">
                <div class="row-fluid" data-bind="with: cash_equivalent_sales">
                    <table class="table table-bordered table-striped table-acubor table-sortable">
                        <thead>
                        <tr>
                            <th>SN</th>
                            <th>Particular</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                        </thead>

                        <tbody id='cash-equivalent-sales'>
                        <!-- ko foreach: rows -->
                        <tr data-bind="flash: true">
                            <td data-bind="text: $index()+1"></td>
                            <td class="with_ip">
                                <select class="span12"
                                        data-bind="options: $root.accounts_by_category('Cash Equivalent'), optionsText: 'name', optionsValue: 'id', value: account, select2: {placeholderOption: 'first'}"></select>
                            </td>
                            <td data-bind="editableText: amount"></td>
                            <td>
                                <button class="close" data-bind="click: $parent.removeRow"><i class="icon-trash"></i>
                                </button>
                            </td>
                        </tr>
                        <!-- /ko -->
                        </tbody>
                    </table>
                    <div data-bind="css: status()" class="pull-left">
                <span data-bind="text: message()">
                </span>
                    </div>
                    <div class="pull-right">
                        <button class="btn btn-small" data-bind="click: addRow"><i class="icon-plus-sign"></i> Add New
                            Row
                        </button>
                        <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save</button>
                        <button class="btn btn-small" data-bind="click: reset">Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- EOF Banks and Cards Tab -->

    <br>

    <!-- Credit Tabs -->
    <div class="tabbable">
    <ul class="nav nav-tabs" id="purchase_tab">
        <li class="active">
            <a data-toggle="tab" href="#credit_sales">
                Credit Sales
            </a>
        </li>

        <li>
            <a data-toggle="tab" href="#credit_purchase">
                Credit Purchase
            </a>
        </li>

        <li>
            <a data-toggle="tab" href="#credit_expense">
                Credit Expense
            </a>
        </li>

        <li>
            <a data-toggle="tab" href="#credit_income">
                Credit Income
            </a>
        </li>
    </ul>
    <div class="tab-content">

        <div id="credit_sales" class="tab-pane active">
            <div class="row-fluid" data-bind="with: credit_sales">
                <table class="table table-bordered table-striped table-acubor table-sortable">
                    <thead>
                    <tr>
                        <th class="span1">SN</th>
                        <th class="span2">Sales Ledger</th>
                        <th class="span2">Customer</th>
                        <th class="span2">Amount</th>
                        <th class="span2">Tax</th>
                        <th class="span1"></th>
                    </tr>
                    </thead>

                    <tbody id="credit-sales">
                    <!-- ko foreach: rows -->
                    <tr data-bind="flash: true">
                        <td>
                            <span data-bind="text: $index()+1"> </span>
                        </td>
                        <td class="with_ip">
                            <select class="span12"
                                    data-bind="options: $root.accounts_by_category('Sales'), optionsText: 'name', optionsValue: 'id', value: account_cr_id, select2: {}, event: {change: $root.account_cr_changed}"></select>
                        </td>
                        <td class="with_ip">
                            <select class="span12"
                                    data-bind="options: $root.accounts_by_category('Debtors'), optionsText: 'name', optionsValue: 'id', value: account_dr_id, select2: {}"></select>
                        </td>
                        <td data-bind="editableText: amount"></td>
                        <td data-bind="text: tax()"></td>
                        <td align="center">
                            <a class="close" href="" data-bind="click: $parent.removeRow">
                                <i class="icon-trash"></i>
                            </a>
                        </td>
                    </tr>
                    <!-- /ko -->
                    </tbody>
                </table>
                <div data-bind="css: status()" class="pull-left">
              <span data-bind="text: message()">
              </span>
                </div>
                <div class="pull-right">
                    <button class="btn btn-small" data-bind="click: addRow"><i class="icon-plus-sign"></i> Add New Row
                    </button>
                    <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save</button>
                    <button class="btn btn-small" data-bind="click: reset">Reset</button>
                </div>
            </div>
        </div>

        <div id="credit_purchase" class="tab-pane">
            <div class="row-fluid" data-bind="with: credit_purchase">
                <table class="table table-bordered table-striped table-acubor table-sortable">
                    <thead>
                    <tr>
                        <th class="span1">SN</th>
                        <th class="span2">Purchase Ledger</th>
                        <th class="span2">Suppliers/Vendors</th>
                        <th class="span2">Amount</th>
                        <th class="span1"></th>
                    </tr>
                    </thead>
                    <tbody id="credit-purchase">
                    <!-- ko foreach: rows -->
                    <tr data-bind="flash: true">
                        <td>
                            <span data-bind="text: $index()+1"> </span>
                        </td>
                        <td class="with_ip">
                            <select class="span12"
                                    data-bind="options: $root.accounts_by_category('Purchase'), optionsText: 'name', optionsValue: 'id', value: account_dr_id, select2: {}"></select>
                        </td>
                        <td class="with_ip">
                            <select class="span12"
                                    data-bind="options: $root.accounts_by_category('Accounts Payable'), optionsText: 'name', optionsValue: 'id', value: account_cr_id, select2: {}"></select>
                        </td>
                        <td data-bind="editableText: amount"></td>
                        <td>
                            <a class="close" data-bind="click: $parent.removeRow">
                                <i class="icon-trash"></i>
                            </a>
                        </td>
                    </tr>
                    <!-- /ko -->
                    </tbody>
                </table>
                <div data-bind="css: status()" class="pull-left">
              <span data-bind="text: message()">
              </span>
                </div>
                <div class="pull-right">
                    <button class="btn btn-small" data-bind="click: addRow"><i class="icon-plus-sign"></i> Add New Row
                    </button>
                    <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save</button>
                    <button class="btn btn-small" data-bind="click: reset">Reset</button>
                </div>
            </div>
        </div>

        <div id="credit_expense" class="tab-pane">
            <div class="row-fluid" data-bind="with: credit_expense">
                <table class="table table-bordered table-striped table-acubor table-sortable">
                    <thead>
                    <tr>
                        <th class="span1">SN</th>
                        <th class="span2">Expense Head</th>
                        <th class="span2">Claimed By</th>
                        <th class="span2">Amount</th>
                        <th class="span1"></th>
                    </tr>
                    </thead>

                    <tbody id="credit-expense">
                    <!-- ko foreach: rows -->
                    <tr data-bind="flash: true">
                        <td>
                            <span data-bind="text: $index()+1"> </span>
                        </td>
                        <td class="with_ip">
                            <select class="span12"
                                    data-bind="options: $root.accounts_by_category('Expenses'), optionsText: 'name', optionsValue: 'id', value: account_dr_id, select2: {}"></select>
                        </td>
                        <td class="with_ip">
                            <select class="span12"
                                    data-bind="options: $root.accounts_by_category('Liabilities'), optionsText: 'name', optionsValue: 'id', value: account_cr_id, select2: {}"></select>
                        </td>
                        <td data-bind="editableText: amount"></td>
                        <td>
                            <button class="close" data-bind="click: $parent.removeRow"><i class="icon-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <!-- /ko -->
                    </tbody>
                </table>
                <div data-bind="css: status()" class="pull-left">
              <span data-bind="text: message()">
              </span>
                </div>
                <div class="pull-right">
                    <button class="btn btn-small" data-bind="click: addRow"><i class="icon-plus-sign"></i> Add New Row
                    </button>
                    <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save</button>
                    <button class="btn btn-small" data-bind="click: reset">Reset</button>
                </div>
            </div>
        </div>

        <div id="credit_income" class="tab-pane">
            <div class="row-fluid" data-bind="with: credit_income">
                <table class="table table-bordered table-striped table-acubor table-sortable">
                    <thead>
                    <tr>
                        <th class="span1">SN</th>
                        <th class="span2">Income Head</th>
                        <th class="span2">Income From</th>
                        <th class="span2">Amount</th>
                        <th class="span1"></th>
                    </tr>
                    </thead>

                    <tbody id="credit-income">
                    <!-- ko foreach: rows -->
                    <tr data-bind="flash: true">
                        <td>
                            <span class="wid-pad pull-left" data-bind="text: $index()+1"> </span>
                        </td>
                        <td>
                            <select class="span12"
                                    data-bind="options: $root.accounts_by_category('Income'), optionsText: 'name', optionsValue: 'id', value: account_cr_id, select2: {}"></select>
                        </td>
                        <td>
                            <select class="span12"
                                    data-bind="options: $root.accounts_by_category('Assets', 'Equity', 'Liabilities'), optionsText: 'name', optionsValue: 'id', value: account_dr_id, select2: {}"></select>
                        </td>
                        <td data-bind="editableText: amount"></td>
                        <td>
                            <button class="close" data-bind="click: $parent.removeRow"><i class="icon-trash"></i>
                            </button>
                        </td>
                    </tr>
                    <!-- /ko -->
                    </tbody>
                </table>
                <div data-bind="css: status()" class="pull-left">
              <span data-bind="text: message()">
              </span>
                </div>
                <div class="pull-right">
                    <button class="btn btn-small" data-bind="click: addRow"><i class="icon-plus-sign"></i> Add New Row
                    </button>
                    <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save</button>
                    <button class="btn btn-small" data-bind="click: reset">Reset</button>
                </div>
            </div>
        </div>

    </div>
    </div>
    <!-- EOF Credit Tabs -->

    <br>

    <div class="row-fluid collapse-group" data-bind="with: summary_sales_tax">
        <div class="collapsible-head"><h2 data-bind="css: status">Summary: Sales Tax</h2>
            <span data-bind="text: message()"></span>
          <span class="collapse-show-on-expand pull-right">
            <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save</button>
            <button class="btn btn-small" data-bind="click: reset">Reset</button>
          </span>
        </div>

        <div class="collapse">
            <table class="table table-bordered table-striped table-acubor table-sortable">
                <thead>
                <tr>
                    <th class="span2">Register</th>
                    <th class="span2">Accounts</th>
                    <th class="span2">Difference</th>
                </tr>
                </thead>

                <tbody id="summary-sales-tax">
                <!-- ko foreach: rows -->
                <tr data-bind="flash: true">
                    <td data-bind="editableText: register"></td>
                    <td data-bind="text: accounts($root)"></td>
                    <td data-bind="text: difference($root)"></td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row-fluid collapse-group" data-bind="with: summary_lotto">
        <div class="collapsible-head"><h2 data-bind="css: status">Summary: Lotto/Lottery</h2>
            <span data-bind="text: message()"></span>
                        <span class="collapse-show-on-expand pull-right">
                                <button class="btn btn-small" data-bind="click: addRow">
                                    <i class="icon-plus-sign"></i> Add New Row
                                </button>
                            <button class="btn btn-small" data-bind="click: save">Save</button>
                            <button class="btn btn-small" data-bind="click: reset">Reset</button>
                            </span>
        </div>
        <div class="collapse">
            <table class="table table-bordered table-striped table-acubor table-sortable">
                <thead>
                <tr>
                    <th>SN</th>
                    <th>Particular</th>
                    <th>Disp.</th>
                    <th>Reg.</th>
                    <th>Diff</th>
                    <th></th>
                </tr>
                </thead>

                <tbody id="summary-lotto">
                <!-- ko foreach: rows -->
                <tr data-bind="flash: true">
                    <td data-bind="text: $index()+1">1</td>
                    <td class="with_ip">
                        <select class="span12"
                                data-bind="options: $root.accounts_by_category(['Lotto', 'Lottery'], true), optionsText: 'name', optionsCaption: 'Choose one...', optionsValue: 'id', value: particular, select2: {placeholderOption: 'first'}, event: {change: $root.lotto_changed}"></select>
                    </td>
                    <td data-bind="editableText: disp"></td>
                    <td data-bind="editableText: reg"></td>
                    <td data-bind="text: diff()"></td>
                    <td>
                        <button class="close" data-bind="click: $parent.removeRow"><i class="icon-trash"></i></button>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>
    <br>
    <div class="row-fluid collapse-group" data-bind="with: summary_inventory">
        <div class="collapsible-head"><h2 data-bind="css: status">Summary: Inventory</h2>
            <span data-bind="text: message()"></span>
                <span class="collapse-show-on-expand pull-right">
                        <button class="btn btn-small" data-bind="click: addRow">
                            <i class="icon-plus-sign"></i> Add New Row
                        </button>
                    <button class="btn btn-small" data-bind="click: save">Save</button>
                    <button class="btn btn-small" data-bind="click: reset">Reset</button>
                    </span>
        </div>
        <div class="collapse">
            <table class="table table-bordered table-striped table-acubor table-sortable">
                <thead>
                <tr>
                    <th>SN</th>
                    <th>Particulars</th>
                    <th>Opening</th>
                    <th>Purchase</th>
                    <th>Sales</th>
                    <th>Closing</th>
                    <th>Actual</th>
                    <th>Difference</th>
                    <th></th>
                </tr>
                </thead>

                <tbody id="summary-inventory">

                <!-- ko foreach: rows -->
                <tr data-bind="flash: true">
                    <td data-bind="text: $index()+1"></td>
                    <td class="with_ip">
                        <select class="span12"
                                data-bind="options: $root.inventory_accounts, optionsText: 'name', optionsCaption: 'Choose one...', optionsValue: 'id', value: account_id, select2: {placeholderOption: 'first'}, event: {change: $root.inventory_account_changed}"></select>
                    </td>
                    <td data-bind="text: opening()"></td>
                    <td data-bind="editableText: inward, numeric: true"></td>
                    <td data-bind="editableText: outward, numeric: true"></td>
                    <td data-bind="text: closing()"></td>
                    <td data-bind="editableText: actual, numeric: true"></td>
                    <td data-bind="text: difference()"></td>
                    <td>
                        <button class="close" data-bind="click: $parent.removeRow"><i class="icon-trash"></i></button>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
        </div>
    </div>

    {#        <div class="row-fluid collapse-group" data-bind="with: summary_equivalent">#}
    {#            <div class="collapsible-head"><h2 data-bind="css: status">Summary: Cash & Cash Equivalent</h2>#}
    {#                <span data-bind="text: message()"></span>#}
    {#                    <span class="collapse-show-on-expand pull-right">#}
    {#                            <button class="button" data-bind="click: addRow">#}
    {#                                <i class="icon-plus-sign" ></i> Add New Row#}
    {#                            </button>#}
    {#                        <button class="button" data-bind="click: save">Save</button>#}
    {#                        <button class="button" data-bind="click: reset">Reset</button>#}
    {#                        </span>#}
    {#            </div>#}
    {#            <div class="collapse">#}
    {#                <table class="table table-bordered table-striped table-acubor table-sortable">#}
    {#                    <thead>#}
    {#                    <tr>#}
    {#                        <th>SN</th>#}
    {#                        <th>Particulars</th>#}
    {#                        <th>Opening</th>#}
    {#                        <th>Inward</th>#}
    {#                        <th>Outward</th>#}
    {#                        <th>Closing</th>#}
    {#                        <th>Actual</th>#}
    {#                        <th>Difference</th>#}
    {#                        <th></th>#}
    {#                    </tr>#}
    {#                    </thead>#}
    {##}
    {#                    <tbody id="summary-equivalent">#}
    {##}
    {#                    <tr data-bind="with: summary_cash" id="summary-cash">#}
    {#                        <td>1</td>#}
    {#                        <td>Cash</td>#}
    {#                        <td data-bind="text: opening($root.accounts)"></td>#}
    {#                        <td data-bind="text: inward($root)"></td>#}
    {#                        <td data-bind="text: outward($root)"></td>#}
    {#                        <td data-bind="text: closing($root)"></td>#}
    {#                        <td data-bind="editableText: actual, numeric: true"></td>#}
    {#                        <td data-bind="text: difference($root)"></td>#}
    {#                        <td></td>#}
    {#                    </tr>#}
    {#                    <!-- ko foreach: rows -->#}
    {#                    <tr data-bind="flash: true">#}
    {#                        <td data-bind="text: $index()+2"></td>#}
    {#                        <td>#}
    {#                            <select class="span12" data-bind="options: $root.accounts_by_category('Cash Equivalent'), optionsText: 'name', optionsCaption: 'Choose one...', optionsValue: 'id', value: account_id, select2: {placeholderOption: 'first'}, event: {change: $root.account_changed}"></select>#}
    {#                        </td>#}
    {#                        <td data-bind="text: opening()"></td>#}
    {#                        <td data-bind="editableText: inward, numeric: true"></td>#}
    {#                        <td data-bind="editableText: outward, numeric: true"></td>#}
    {#                        <td data-bind="text: closing()"></td>#}
    {#                        <td data-bind="editableText: actual, numeric: true"></td>#}
    {#                        <td data-bind="text: difference()"></td>#}
    {#                        <td>#}
    {#                            <button class="close" data-bind="click: $parent.removeRow">&times;</button>#}
    {#                        </td>#}
    {#                    </tr>#}
    {#                    <!-- /ko -->#}
    {#                    </tbody>#}
    {#                </table>#}
    {#            </div>#}
    {#        </div>#}

    <div class="row-fluid collapse-group" data-bind="with: summary_cash">
        <div class="collapsible-head"><h2 data-bind="css: status">Summary: Cash</h2>
            <span data-bind="text: message()"></span>
                    <span class="collapse-show-on-expand pull-right">
                    <button class="button" data-bind="click: save"><i class="icon-save"></i> Save</button>
                    </span>
        </div>

        <div class="collapse">
            <table class="table table-bordered table-striped table-acubor table-sortable">
                <thead>
                <tr>
                    <th class="span2">Opening</th>
                    <th class="span2">Inward</th>
                    <th class="span2">Outward</th>
                    <th class="span2">Closing</th>
                    <th class="span2">Actual</th>
                    <th class="span2">Difference</th>
                </tr>
                </thead>
                <tbody id="summary-cash">
                <tr>
                    <td data-bind="text: rows()[0].opening($root)"></td>
                    <td data-bind="text: rows()[0].inward($root)"></td>
                    <td data-bind="text: rows()[0].outward($root)"></td>
                    <td data-bind="text: rows()[0].closing($root)"></td>
                    <td data-bind="editableText: rows()[0].actual"></td>
                    <td data-bind="text: rows()[0].difference($root)"></td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

{% endblock %}