{% extends "dashboard.html" %}

{% block title %}Day Journal for {{ day_journal.date }}{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "new_day_journal" %}">Day Journal</a></li>
{% endblock %}

{% block pageheader %}
    Day Journal for {{ day_journal.date }}
{% endblock %}


{% block extra-head %}
    <script src="{{ STATIC_URL }}js/vendors/knockout.js"></script>
    <script src="{{ STATIC_URL }}js/ko_lib.js"></script>
    <script src="{{ STATIC_URL }}js/day_journal.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            {% load filters %}
            if (window.location.hash != "") {
                $('a[href="' + window.location.hash + '"]').click();
            }
            $(document).on("click", ".delete-attachment", function (e) {
                e.preventDefault();
                var $this = $(this);
                if (confirm("Are you sure you want to delete this attachment?")) {
                    var uri = build_attachment_url($this.data("type"), $this.data('id'));
                    $.post(uri.url, uri.params)
                            .done(function (res) {
                                if (res.success) {
                                    $this.parent('.span3').fadeOut(300, function () {
                                        $(this).remove();
                                    });
                                } else {
                                    alert("There has been error while processing your request. Please try again!");
                                }
                            });
                } else {
                    return false;
                }
            });

            function build_attachment_url(type, id) {
                return {url: "/day/delete_attachment/", params: {type: type, id: id}};
            }

            $('.add_file').click(function () {
                var _parent = $(this).parent('p');
                var clone = _parent.siblings('.attach_file_field:last').clone();
                clone.find('input').val("");
                _parent.before(clone);
            });

            $('.attachment-form').submit(function (e) {
                e.preventDefault();
                if (window.FormData) {
                    var file_ips = $(this).find('input[type="file"]');
                    var text_ips = $(this).find('.captions');
                    var formdata = new FormData();
                    $.each(text_ips, function () {
                        formdata.append("captions", this.value);
                    });
                    $.each(file_ips, function () {
                        formdata.append("attachments", this.files[0]);
                    });
                    var $this = $(this);
                    var type = $this.data("type");
                    formdata.append("type", type);
                    formdata.append("day", $('#attachment_tabbable').data("journal-day"));
                    $.ajax({
                        url: "/day/save_attachments/",
                        type: "POST",
                        data: formdata,
                        processData: false,
                        contentType: false,
                        success: function (res) {
                            var str = "";
                            $.each(res, function () {
                                str += '<div class="span3"> <a target="_blank" href="' + this.link + '">' + this.caption + '</a><button class="close delete-attachment" data-type="' + type + '" data-id="' + this.id + '"><span class="icon-trash"></span></button></div>';
                            });
                            $this.find('.row-fluid').append(str);
                            $this.find('.attach_file_field').find("input").val("").end().not(':first').remove();
                        },
                        error: function () {
                            alert("There has been error while processing your request. Please try again!");
                        }
                    });

                } else {
                    alert("Your browser is too old. Please upgrade to modern browsers like Chrome or Firefox.")
                }
            });

            vm = new DayJournal({{ day_journal|jsonify }});
            ko.applyBindings(vm);

        });
    </script>
{% endblock %}

{% block controls %}
    <!-- Button to trigger modal -->
    <a href="#print-preview" data-toggle="modal"><i class="icon-print"></i> Print</a>
{% endblock %}

{% block content %}

    {{ day_journal }}

    <!-- Modal -->
    <div id="print-preview" class="modal hide fade do-print" tabindex="-1" role="dialog" aria-labelledby="modal-label"
         aria-hidden="true">
        <div class="modal-header no-print">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="modal-label">Print Preview</h3>
        </div>
        <div class="modal-body">
            <p>Under Construction</p>
        </div>
        <div class="modal-footer no-print">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <a href="javascript:window.print();" class="btn btn-primary">Print</a>
        </div>
    </div>

    <div class="no-print page-journal">
    <div class="col-box">
    <div class="col-box-header">
        <a href="#">
            <h3><i class="icon-money"></i> Sales <i class="icon-chevron-up pull-right status-handle"></i></h3>
        </a>
    </div>
    <div class="col-box-body">
    <!-- Cash Tab -->
    <div class="tabbable">
    <ul class="nav nav-tabs" id="cash-tab">
        <li class="active">
            <a data-toggle="tab" href="#cash-sales">
                Sales
            </a>
        </li>
        {#        <li>#}
        {#            <a data-toggle="tab" href="#card-sales">#}
        {#                Card Sales#}
        {#            </a>#}
        {#        </li>#}
        {#        <li>#}
        {#            <a data-toggle="tab" href="#cash-eqv-sales">#}
        {#                Cash Equivalent Sales#}
        {#            </a>#}
        {#        </li>#}
        <li>
            <a data-toggle="tab" href="#summary-transfer">
                Transfers/Remittance
            </a>
        </li>
    </ul>
    <div class="tab-content">

    <div id="cash-sales" class="tab-pane active">
        <div class="row-fluid" data-bind="with: cash_sales">
            <table class="table table-bordered table-striped table-acubor table-sortable">
                <thead>
                <tr>
                    <th class="span1">SN</th>
                    <th class="span2">Sales Ledger</th>
                    <th class="span2">Amount</th>
                    <th class="span2">Tax</th>
                    <th class="span1"></th>
                </tr>
                </thead>

                <tbody id="cash-sales">
                <!-- ko foreach: rows -->
                <tr data-bind="flash: true">
                    <td>
                        <span data-bind="text: $index()+1"> </span>
                    </td>
                    <td class="with_ip">
                        <select class="span12"
                                data-bind="options: $root.sales_sans_lotto(), optionsText: 'name', optionsValue: 'id', value: account_id, optionsCaption: 'Choose an account..', select2: {placeholderOption: 'first'}, event: {change: $root.account_changed}"></select>
                    </td>
                    <td data-bind="editableText: amount, numeric: true"></td>
                    <td data-bind="text: tax()"></td>
                    <td align="center">
                        <button class="btn-none" data-bind="click: $parent.removeRow">
                            <i class="icon-trash"></i>
                        </button>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
            <div data-bind="css: state()" class="pull-left">
                                          <span data-bind="text: message()">
                                          </span>
            </div>
            <div class="pull-right">
                <button class="btn btn-small" data-bind="click: addRow"><i class="icon-plus-sign"></i> Add
                    New Row
                </button>
                <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save
                </button>
                <button class="btn btn-small" data-bind="click: reset">Reset</button>
            </div>
        </div>


        <table class="table table-bordered table-striped table-acubor table-sortable">
            <thead>
            <tr>
                <th></th>
                <th>Amount</th>
                <th>Tax</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th>Lotto Sales as per Dispenser</th>
                <td data-bind="editableText: lotto_sales_dispenser_amount" class="change-on-ready"></td>
                <td data-bind="text: $root.lotto_sales_dispenser_tax()"></td>
            </tr>
            <tr>
                <th>Scratch Off Sales as per Dispenser</th>
                <td data-bind="text: $root.lotto_detail.get_total('sales')"></td>
                <td data-bind="text: scratch_off_sales_dispenser_tax()"></td>
            </tr>
            <tr>
                <th>Lotto Sales as per Register</th>
                <td data-bind="editableText: lotto_sales_register_amount"></td>
                <td data-bind="text: $root.lotto_sales_register_tax()"></td>
            </tr>
            <tr>
                <th>Scratch Off Sales as per Register</th>
                <td data-bind="editableText: scratch_off_sales_register_amount"></td>
                <td data-bind="text: $root.scratch_off_sales_register_tax()"></td>
            </tr>
            </tbody>
        </table>
        <span id="lotto-sales-message"></span>
        <button class="btn btn-small pull-right" data-bind="click: save_lotto_sales_as_per_dispenser"><i
                class="icon-save"></i> Save
        </button>

        <table class="table table-bordered table-striped table-acubor table-sortable">
            <thead>
            <tr>
                <th></th>
                <th>Amount</th>
                <th>Tax</th>
            </tr>
            </thead>
            <tr>
                <th>Actual Sales</th>
                <td data-bind="text: actual_sales_amount()"></td>
                <td data-bind="text: actual_sales_tax()"></td>
            </tr>
            <tr>
                <th>Sales shown by Register</th>
                <td data-bind="text: register_sales_amount()"></td>
                <td data-bind="text: register_sales_tax()"></td>
            </tr>
            <tr class="diff">
                <th>Difference</th>
                <td data-bind="text: diff_sales_amount()"></td>
                <td data-bind="text: diff_sales_tax()"></td>
            </tr>
            <tbody>

            </tbody>

        </table>

        <h3>Sales through Cards</h3>

        <div class="row-fluid" data-bind="with: card_sales">
            <table class="table table-bordered table-striped table-acubor table-sortable">
                <thead>
                <tr>
                    <th class="span2">Amount</th>
                    <th class="span2">Commission Out</th>
                    <th class="span2">Net</th>
                </tr>
                </thead>

                <tbody id="card-sales">
                <!-- ko foreach: rows -->
                <tr>
                    <td data-bind="editableText: amount"></td>
                    <td data-bind="editableText: commission_out"></td>
                    <td data-bind="text: net().toFixed(2)"></td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
            <div data-bind="css: state()" class="pull-left">
                                    <span data-bind="text: message()">
                                    </span>
            </div>
            <div class="pull-right">
                <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save
                </button>
                <button class="btn btn-small" data-bind="click: reset">Reset</button>
            </div>
        </div>

        <h3>Sales through Others</h3>

        <div class="row-fluid" data-bind="with: cash_equivalent_sales">
            <table class="table table-bordered table-striped table-acubor table-sortable">
                <thead>
                <tr>
                    <th>SN</th>
                    <th>Particular</th>
                    <th>Amount</th>
                    <th></th>
                </tr>
                </thead>

                <tbody id='cash-equivalent-sales'>
                <!-- ko foreach: rows -->
                <tr data-bind="flash: true">
                    <td data-bind="text: $index()+1"></td>
                    <td class="with_ip">
                        <select class="span12"
                                data-bind="options: $root.accounts_by_category('Cash Equivalent Account'), optionsText: 'name', optionsValue: 'id', value: account, optionsCaption: 'Choose an account..', select2: {placeholderOption: 'first'}"></select>
                    </td>
                    <td data-bind="editableText: amount"></td>
                    <td>
                        <button class="btn-none" data-bind="click: $parent.removeRow"><i
                                class="icon-trash"></i>
                        </button>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
            <div data-bind="css: state()" class="pull-left">
                                <span data-bind="text: message()">
                                </span>
            </div>
            <div class="pull-right">
                <button class="btn btn-small" data-bind="click: addRow"><i class="icon-plus-sign"></i> Add
                    New
                    Row
                </button>
                <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save
                </button>
                <button class="btn btn-small" data-bind="click: reset">Reset</button>
            </div>
        </div>

    </div>

    {#    <div id="card-sales" class="tab-pane">#}
    {##}
    {#    </div>#}
    {##}
    {#    <div id="cash-eqv-sales" class="tab-pane">#}
    {##}
    {#    </div>#}

    <div id="summary-transfer" class="tab-pane">
        <div class="row-fluid" data-bind="with: summary_transfer">
            <table class="table table-bordered table-striped table-acubor table-sortable">
                <thead>
                <tr>
                    <th>SN</th>
                    <th>Transfer Type</th>
                    <th>Cash</th>
                    <th>Cheque</th>
                    <th>Card</th>
                    <th></th>
                </tr>
                </thead>
                <tbody id="summary-transfer">
                <!-- ko foreach: rows -->
                <tr data-bind="flash: true">
                    <td data-bind="text: $index()+1"></td>
                    <td class="with_ip">
                        <select class="span12"
                                data-bind="options: $root.accounts_by_category('Transfers/Remittances'), optionsText: 'name', optionsValue: 'id', value: transfer_type, optionsCaption: 'Choose an account..', select2: {placeholderOption: 'first'}"></select>
                    </td>
                    <td data-bind="editableText: cash"></td>
                    <td data-bind="editableText: cheque"></td>
                    <td data-bind="editableText: card"></td>
                    <td>
                        <button class="btn-none" data-bind="click: $parent.removeRow">
                            <i class="icon-trash"></i>
                        </button>
                    </td>
                </tr>
                <!-- /ko -->
                </tbody>
            </table>
            <div data-bind="css: state()" class="pull-left">
                                          <span data-bind="text: message()">
                                          </span>
            </div>
            <div class="pull-right">
                <button class="btn btn-small" data-bind="click: addRow"><i class="icon-plus-sign"></i> Add
                    New Row
                </button>
                <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save
                </button>
                <button class="btn btn-small" data-bind="click: reset">Reset</button>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!-- EOF Cash Tab -->
    </div>
    </div>
    <br>

    <div class="col-box">
        <div class="col-box-header">
            <a href="#">
                <h3><i class="icon-retweet"></i> Payouts <i class="icon-chevron-up pull-right status-handle"></i></h3>
            </a>
        </div>
        <div class="col-box-body">
            <div class="tabbable">
                <ul class="nav nav-tabs" id="credit-tab">
                    <li class="active">
                        <a data-toggle="tab" href="#cash-purchase">
                            Vendor Payouts
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#cash-payment">
                            Other Payouts
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="cash-purchase" class="tab-pane active">
                        <div class="row-fluid" data-bind="with: vendor_payout">
                            <table class="table table-bordered table-striped table-acubor table-sortable">
                                <thead>
                                <tr>
                                    <th class="span1">SN</th>
                                    <th class="span2">Vendor</th>
                                    <th class="span2">Amount</th>
                                    <th class="span2">Purchase Ledger</th>
                                    <th class="span2">Remarks</th>
                                    <th class="span2">Paid</th>
                                    <th class="span2">Type</th>
                                    <th class="span1"></th>
                                </tr>
                                </thead>
                                <tbody id="vendor-payout">
                                <!-- ko foreach: rows -->
                                <tr data-bind="flash: true">
                                    <td>
                                        <span data-bind="text: $index()+1"> </span>
                                    </td>
                                    <td class="with_ip">
                                        <input type="hidden"
                                               data-bind="value: vendor, select2: {data: {results: $root.accounts_by_category('Suppliers')}}, lookupKey: 'id'">
                                    </td>
                                    <td data-bind="editableText: amount"></td>
                                    <td>
                                        <input type="hidden"
                                               data-bind="value: purchase_ledger, select2: {data: {results: $root.accounts_by_category('Purchase')}}, lookupKey: 'id'">
                                    </td>
                                    <td data-bind="editableText: remarks"></td>
                                    <td>
                                        <input type="hidden"
                                               data-bind="value: paid, select2: {data: {results: $root.accounts_by_category(['Cash Account', 'Bank Account', 'Cash Equivalent Account'], true)}}, lookupKey: 'id'">
                                    </td>
                                    <td>
                                        <select data-bind="options: types, optionsText:'name', optionsValue: 'id', value: type">
                                        </select>
                                    </td>
                                    <td>
                                        <button class="btn-none" data-bind="click: $parent.removeRow">
                                            <i class="icon-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                <!-- /ko -->
                                </tbody>
                            </table>
                            <div data-bind="css: state()" class="pull-left">
                                          <span data-bind="text: message()">
                                          </span>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-small" data-bind="click: addRow"><i class="icon-plus-sign"></i>
                                    Add New Row
                                </button>
                                <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save
                                </button>
                                <button class="btn btn-small" data-bind="click: reset">Reset</button>
                            </div>
                        </div>
                    </div>
                    <div id="cash-payment" class="tab-pane">
                        <div class="row-fluid" data-bind="with: other_payout">
                            <table class="table table-bordered table-striped table-acubor table-sortable">
                                <thead>
                                <tr>
                                    <th class="span1">SN</th>
                                    <th class="span2">Paid To</th>
                                    <th class="span2">Amount</th>
                                    <th class="span2">Remarks</th>
                                    <th class="span2">Paid</th>
                                    <th class="span1"></th>
                                </tr>
                                </thead>

                                <tbody id="cash-payment">
                                <!-- ko foreach: rows -->
                                <tr data-bind="flash: true">
                                    <td>
                                        <span data-bind="text: $index()+1"> </span>
                                    </td>
                                    <td class="with_ip">
                                        <input type="hidden"
                                               data-bind="value: paid_to, select2: {data: {results: $root.accounts_except_category(['Sales', 'Purchase', 'Cash Account', 'Cash Equivalent Account', 'Bank Account', 'Suppliers'], true)}}, lookupKey: 'id'">
                                    </td>
                                    <td data-bind="editableText: amount"></td>
                                    <td data-bind="editableText: remarks"></td>
                                    <td>
                                        <input type="hidden"
                                               data-bind="value: paid, select2: {data: {results: $root.accounts_by_category(['Cash Account', 'Bank Account', 'Cash Equivalent Account'], true)}}, lookupKey: 'id'">
                                    </td>
                                    <td>
                                        <button class="btn-none" data-bind="click: $parent.removeRow">
                                            <i class="icon-trash"></i>
                                        </button>
                                    </td>
                                </tr>
                                <!-- /ko -->
                                </tbody>
                            </table>
                            <div data-bind="css: state()" class="pull-left">
                                      <span data-bind="text: message()">
                                      </span>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-small" data-bind="click: addRow"><i class="icon-plus-sign"></i>
                                    Add New Row
                                </button>
                                <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save
                                </button>
                                <button class="btn btn-small" data-bind="click: reset">Reset</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="col-box">
        <div class="col-box-header">
            <a href="#">
                <h3><i class="icon-briefcase"></i> Inventories <i class="icon-chevron-up pull-right status-handle"></i>
                </h3>
            </a>
        </div>
        <div class="col-box-body">
            <!-- Inventory Tabs -->
            <div class="tabbable">
                <ul class="nav nav-tabs" id="inventory_tab">
                    <li class="active">
                        <a data-toggle="tab" href="#inventory-fuel-tab">
                            Fuel
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#summary-invent">
                            Other Inventories
                        </a>
                    </li>

                    <li>
                        <a data-toggle="tab" href="#lotto-detail">
                            Scratch Off
                        </a>
                    </li>

                </ul>
                <div class="tab-content">

                    <div id="inventory-fuel-tab" class="tab-pane active">
                        <div class="row-fluid" data-bind="with: inventory_fuel">
                            <table class="table table-bordered table-striped table-acubor table-sortable">
                                <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Particulars</th>
                                    <th>Opening</th>
                                    <th>Purchase</th>
                                    <th>Sales</th>
                                    <th>Closing</th>
                                    <th>Actual</th>
                                    <th>Difference</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody id="inventory-fuel">

                                <!-- ko foreach: rows -->
                                <tr data-bind="flash: true">
                                    <td data-bind="text: $index()+1"></td>
                                    <td class="with_ip">
                                        <select class="span12"
                                                data-bind="options: $root.inventory_accounts_by_category('Fuel'), optionsText: 'name', optionsCaption: 'Choose one...', optionsValue: 'id', value: account_id, optionsCaption: 'Choose an account..', select2: {placeholderOption: 'first'}, event: {change: $root.inventory_account_changed}"></select>
                                    </td>
                                    <td data-bind="text: opening()"></td>
                                    <td data-bind="editableText: purchase, numeric: true"></td>
                                    <td data-bind="editableText: sales, numeric: true"></td>
                                    <td data-bind="text: closing()"></td>
                                    <td data-bind="editableText: actual, numeric: true"></td>
                                    <td data-bind="text: difference()"></td>
                                    <td>
                                        <button class="btn-none" data-bind="click: $parent.removeRow"><i
                                                class="icon-trash"></i></button>
                                    </td>
                                </tr>
                                <!-- /ko -->
                                </tbody>
                            </table>
                            <div data-bind="css: state()" class="pull-left">
                                        <span data-bind="text: message()">
                                        </span>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-small" data-bind="click: addRow"><i class="icon-plus-sign"></i>
                                    Add New Row
                                </button>
                                <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save
                                </button>
                                <button class="btn btn-small" data-bind="click: reset">Reset</button>
                            </div>
                        </div>
                    </div>

                    <div id="summary-invent" class="tab-pane">
                        <div class="row-fluid" data-bind="with: summary_inventory">
                            <table class="table table-bordered table-striped table-acubor table-sortable">
                                <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Particulars</th>
                                    <th>Opening</th>
                                    <th>Purchase</th>
                                    <th>Sales</th>
                                    <th>Closing</th>
                                    <th>Actual</th>
                                    <th>Difference</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody id="summary-inventory">

                                <!-- ko foreach: rows -->
                                <tr data-bind="flash: true">
                                    <td data-bind="text: $index()+1"></td>
                                    <td class="with_ip">
                                        <select class="span12"
                                                data-bind="options: $root.inventory_accounts, optionsText: 'name', optionsCaption: 'Choose one...', optionsValue: 'id', value: account_id, optionsCaption: 'Choose an account..', select2: {placeholderOption: 'first'}, event: {change: $root.inventory_account_changed}"></select>
                                    </td>
                                    <td data-bind="text: opening()"></td>
                                    <td data-bind="editableText: purchase, numeric: true"></td>
                                    <td data-bind="editableText: sales, numeric: true"></td>
                                    <td data-bind="text: closing()"></td>
                                    <td data-bind="editableText: actual, numeric: true"></td>
                                    <td data-bind="text: difference()"></td>
                                    <td>
                                        <button class="btn-none" data-bind="click: $parent.removeRow"><i
                                                class="icon-trash"></i></button>
                                    </td>
                                </tr>
                                <!-- /ko -->
                                </tbody>
                            </table>
                            <div data-bind="css: state()" class="pull-left">
                                        <span data-bind="text: message()">
                                        </span>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-small" data-bind="click: addRow"><i class="icon-plus-sign"></i>
                                    Add New
                                    Row
                                </button>
                                <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save
                                </button>
                                <button class="btn btn-small" data-bind="click: reset">Reset</button>
                            </div>
                        </div>
                    </div>

                    <div id="lotto-detail" class="tab-pane">
                        <div class="row-fluid myscroll" data-bind="with: lotto_detail">
                            <table class="table table-bordered table-striped table-acubor table-sortable">
                                <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Rate (in $)</th>
                                    <th>Pack Count</th>
                                    <th>Day Open</th>
                                    <th>Day Close</th>
                                    <th>Addition</th>
                                    <th>Sales ($)</th>
                                    <th></th>
                                </tr>
                                </thead>

                                <tbody id="lotto-detail">
                                <!-- ko foreach: rows -->
                                <tr data-bind="flash: true">
                                    <td data-bind="text: $index()+1"></td>
                                    <td data-bind="editableText: rate, numeric: true"></td>
                                    <td data-bind="editableText: pack_count, numeric: true"></td>
                                    <td data-bind="editableText: day_open, numeric: true"></td>
                                    <td data-bind="editableText: day_close, numeric: true"></td>
                                    <td data-bind="editableText: addition, numeric: true"></td>
                                    <td data-bind="text: sales()"></td>
                                    <td>
                                        <button class="btn-none" data-bind="click: $parent.removeRow"><i
                                                class="icon-trash"></i></button>
                                    </td>
                                </tr>
                                <!-- /ko -->
                                </tbody>
                            </table>
                            <div data-bind="css: state()" class="pull-left">
                                        <span data-bind="text: message()">
                                        </span>
                            </div>
                            <div class="pull-right">
                                <button class="btn btn-small" data-bind="click: addRow"><i class="icon-plus-sign"></i>
                                    Add New
                                    Row
                                </button>
                                <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save
                                </button>
                                <button class="btn btn-small" data-bind="click: reset">Reset</button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
            <!-- EOF Inventory Tabs -->
        </div>
    </div>

    <br>
    <br>
    <!-- Summary Tabs -->
    <div class="tabbable">
        <ul class="nav nav-tabs" id="summary-tab">
            <li class="active">
                <a data-toggle="tab" href="#summary-cash">
                    Summary Cash
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#summary-sales-tax">
                    Summary Sales Tax
                </a>
            </li>

            <li>
                <a data-toggle="tab" href="#summary-lotto">
                    Summary Scratch Off
                </a>
            </li>

        </ul>
        <div class="tab-content">

            <div id="summary-cash" class="tab-pane active">
                <div class="row-fluid" data-bind="with: summary_cash">
                    <table class="table table-bordered table-striped table-acubor table-sortable">
                        <thead>
                        <tr>
                            <th class="span2">Opening</th>
                            <th class="span2">Inward</th>
                            <th class="span2">Outward</th>
                            <th class="span2">Closing</th>
                            <th class="span2">Actual</th>
                            <th class="span2">Difference</th>
                        </tr>
                        </thead>
                        <tbody id="summary-cash">
                        <tr>
                            <td data-bind="text: rows()[0].opening($root)"></td>
                            <td data-bind="text: rows()[0].inward($root)"></td>
                            <td data-bind="text: rows()[0].outward($root)"></td>
                            <td data-bind="text: rows()[0].closing($root)"></td>
                            <td data-bind="editableText: rows()[0].actual"></td>
                            <td data-bind="text: rows()[0].difference($root)"></td>
                        </tr>
                        </tbody>
                    </table>
                    <div data-bind="css: state()" class="pull-left"><span data-bind="text: message()"></span></div>
                    <div class="pull-right">
                        <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save</button>
                    </div>
                </div>
            </div>

            <div id="summary-sales-tax" class="tab-pane">
                <div class="row-fluid" data-bind="with: summary_sales_tax">
                    <table class="table table-bordered table-striped table-acubor table-sortable">
                        <thead>
                        <tr>
                            <th class="span2">Register</th>
                            <th class="span2">Accounts</th>
                            <th class="span2">Difference</th>
                        </tr>
                        </thead>
                        <tbody id="summary-sales-tax">
                        <!-- ko foreach: rows -->
                        <tr data-bind="flash: true">
                            <td data-bind="editableText: register"></td>
                            <td data-bind="text: accounts($root)"></td>
                            <td data-bind="text: difference($root).toFixed(2)"></td>
                        </tr>
                        <!-- /ko -->
                        </tbody>
                    </table>
                    <div data-bind="css: state()" class="pull-left"><span data-bind="text: message()"></span></div>
                    <div class="pull-right">
                        <button class="btn btn-small" data-bind="click: save"><i class="icon-save"></i> Save</button>
                    </div>
                </div>
            </div>

            <div id="summary-lotto" class="tab-pane">
                <div class="row-fluid">
                    <table class="table table-bordered table-striped table-acubor table-sortable">
                        <thead>
                        <tr>
                            <th>Disp.</th>
                            <th>Reg.</th>
                            <th>Diff</th>
                        </tr>
                        </thead>
                        <tbody data-bind="with: summary_lotto">
                        <tr>
                            <td data-bind="text: disp()"></td>
                            <td data-bind="text: reg()"></td>
                            <td data-bind="text: diff()"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>
    <!-- EO Summary Tabs -->

    <!-- Attachment Tabs -->
    <div class="tabbable" id="attachment_tabbable" data-journal-day="{{ day_journal.date|date:"Y-m-d" }}">
        <ul class="nav nav-tabs" id="attachment-tab">
            <li class="active">
                <a data-toggle="tab" href="#sales_attach">Sales Attachments</a>
            </li>
            <li>
                <a data-toggle="tab" href="#purchase_attach">Purchase Attachments</a>
            </li>
            <li>
                <a data-toggle="tab" href="#bank_attach">Bank Attachments</a>
            </li>
            <li>
                <a data-toggle="tab" href="#other_attach">Other Attachments</a>
            </li>
        </ul>
        <div class="tab-content">
            <div id="sales_attach" class="tab-pane active">
                <form class="attachment-form" data-type="sales">
                    <div class="row-fluid">
                        {% for attachment in sales_attachments %}
                            <div class="span3">
                                <a target="_blank"
                                   href="{{ MEDIA_URL }}{{ attachment.attachment }}">{{ attachment.description }}</a>
                                <button class="close delete-attachment" data-type="sales" data-id="{{ attachment.id }}">
                                    <span class="icon-trash"></span>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                    <hr>
                    <div class="attach_file_field">
                        <label>
                            <b>Add File: </b>
                            <input type="file" name="attachments" required class="attachments"/>
                        </label>
                        <label>
                            <b>Description: </b>
                            <input type="text" name="captions" required class="captions">
                        </label>
                    </div>
                    <p><input type="button" class="btn add_file" value="Add Another File"/> <input type="submit"
                                                                                                   value="Save"
                                                                                                   class="btn"/></p>
                </form>
            </div>
            <div id="purchase_attach" class="tab-pane">
                <form class="attachment-form" data-type="purchase">
                    <div class="row-fluid">
                        {% for attachment in purchase_attachments %}
                            <div class="span3">
                                <a target="_blank"
                                   href="{{ MEDIA_URL }}{{ attachment.attachment }}">{{ attachment.description }}</a>
                                <button class="close delete-attachment" data-type="purchase"
                                        data-id="{{ attachment.id }}">
                                    <span class="icon-trash"></span>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                    <br>

                    <div class="attach_file_field">
                        <label>
                            <b>Add File: </b>
                            <input type="file" name="attachments" required class="attachments"/>
                        </label>
                        <label>
                            <b>Description: </b>
                            <input type="text" name="captions" required class="captions">
                        </label>
                    </div>

                    <p><input type="button" class="btn add_file" value="Add Another File"/> <input type="submit"
                                                                                                   value="Save"
                                                                                                   class="btn"/></p>

                </form>
            </div>
            <div id="bank_attach" class="tab-pane">
                <form class="attachment-form" data-type="bank">
                    <div class="row-fluid">
                        {% for attachment in bank_attachments %}
                            <div class="span3">
                                <a target="_blank"
                                   href="{{ MEDIA_URL }}{{ attachment.attachment }}">{{ attachment.description }}</a>
                                <button class="close delete-attachment" data-type="bank" data-id="{{ attachment.id }}">
                                    <span class="icon-trash"></span>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                    <br>

                    <div class="attach_file_field">
                        <label>
                            <b>Add File: </b>
                            <input type="file" name="attachments" required class="attachments"/>
                        </label>
                        <label>
                            <b>Description: </b>
                            <input type="text" name="captions" required class="captions">
                        </label>
                    </div>

                    <p><input type="button" class="btn add_file" value="Add Another File"/> <input type="submit"
                                                                                                   value="Save"
                                                                                                   class="btn"/></p>
                </form>
            </div>
            <div id="other_attach" class="tab-pane">
                <form class="attachment-form" data-type="other">
                    <div class="row-fluid">
                        {% for attachment in other_attachments %}
                            <div class="span3">
                                <a target="_blank"
                                   href="{{ MEDIA_URL }}{{ attachment.attachment }}">{{ attachment.description }}</a>
                                <button class="close delete-attachment" data-type="other" data-id="{{ attachment.id }}">
                                    <span class="icon-trash"></span>
                                </button>
                            </div>
                        {% endfor %}
                    </div>
                    <br>

                    <div class="attach_file_field">
                        <label>
                            <b>Add File: </b>
                            <input type="file" name="attachments" required class="attachments"/>
                        </label>
                        <label>
                            <b>Description: </b>
                            <input type="text" name="captions" required class="captions">
                        </label>
                    </div>

                    <p><input type="button" class="btn add_file" value="Add Another File"/> <input type="submit"
                                                                                                   value="Save"
                                                                                                   class="btn"/></p>
                </form>
            </div>
        </div>
    </div>
    <!-- EO Attachment Tabs -->
    </div>


{% endblock %}