{% extends base_template %}

{% block title %}{{ scenario }} Bank Account {% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "list_bank_accounts" %}">Bank Accounts</a></li>
    <span class="divider"><i class="icon-angle-right"></i></span>
    <li class="active">{{ scenario }} Bank Account</li>
{% endblock %}

{% block content %}
    <div class="page-header position-relative">
        <h1>
            {{ scenario }} Bank Account
        </h1>
    </div>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="row">
            <div class="span12">
                <input type="submit" value="Submit" class="btn"/>
            </div>
        </div>
    </form>
{% endblock %}