{% extends "dashboard.html" %}

{% block title %}Bank Account Settings{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "bank_settings" %}">Bank Account Settings</a></li>
{% endblock %}

{% block pageheader %}
    Bank Account Settings
{% endblock %}

{% block content %}

    <table class="table table-bordered table-striped table-sortable">
        <thead>
        <th>Bank Name</th>
        <th>Account No.</th>
        <th>Branch Name</th>
        <th>Actions</th>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>
                    <a href="{% url "update_bank_account" item.id %}">
                        {{ item.bank_name }}
                    </a>
                </td>
                <td>{{ item.ac_no }}</td>
                <td>{{ item.branch_name }}</td>
                <td>
                    <a href="{% url 'update_bank_account' item.id %}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{% url 'create_bank_account' %}">Create New Bank Account</a>

{% endblock %}