{% extends "dashboard.html" %}

{% block title %}{{ scenario }} Bank Cash Deposit{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "list_bank_accounts" %}">Banking</a></li>
    <span class="divider"><i class="icon-angle-right"></i></span>

    <li class="active"><a href="{% url "new_cash_deposit" %}">Cash Deposit</a></li>
{% endblock %}

{% block head_end %}
    <script src="{{ STATIC_URL }}js/base.js"></script>
    <script>
        $(document).ready(function () {
            $('.date-picker').datepicker();
        });
    </script>
{% endblock %}

{% block content %}

    <div class="page-header position-relative">
        <h1>
            {{ scenario }} Bank Cash Deposit
        </h1>
    </div>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <button type="submit" class="btn">Save</button>
        {% if scenario = 'Update' %}
            <a class="btn" href="{% url 'delete_cash_deposit' form.instance.id %}">Delete!</a>
        {% endif %}
    </form>


{% endblock %}