{% extends "dashboard.html" %}

{% block title %}{{ scenario }} Bank Cash Deposit{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "list_bank_accounts" %}">Banking</a></li>
    <span class="divider"><i class="icon-angle-right"></i></span>

    <li><a href="{% url "new_cash_deposit" %}">Cash Deposit</a></li>
{% endblock %}

{% load filters %}

{% block extra-head %}
    <script>
        $(document).ready(function () {
            $('.date-picker').datepicker();
        });
    </script>
{% endblock %}

{% block pageheader %}
    {{ scenario }} Bank Cash Deposit
{% endblock %}

{% block content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.as_p }}

        <input class="btn" type="submit" value="Save" name="action">
        {% if scenario == 'Update' %}
            {% ifusergroup 'Owner' 'SuperOwner' 'Supervisor' %}
                <input class="btn" type="submit" value="Approve" name="action">
            {% endifusergroup %}
            <a class="btn btn-danger" href="{% url 'delete_cash_deposit' form.instance.id %}">Delete!</a>
        {% endif %}

    </form>


{% endblock %}