{% extends "dashboard.html" %}

{% block title %} {{ scenario }} Cheque Receipt{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "new_cheque_receipt" %}">Cheque Receipt</a></li>
{% endblock %}

{% block head_end %}
    <script src="http://localhost/acubor_static/js/vendors/knockout.js"></script>
    <script src="http://localhost/acubor_static/js/ko_lib.js"></script>
    <script src="http://localhost/acubor_static/js/base.js"></script>
    <script src="http://localhost/acubor_static/js/bank.js"></script>
    <script>
        $(document).ready(function () {
            {% load filters %}
            ko.applyBindings(new ChequeReceiptViewModel({{data|jsonify}}));
        });
    </script>
{% endblock %}

{% block content %}

    <div class="page-header position-relative">
        <h1>
            {{ scenario }} Cheque Receipt
        </h1>
    </div>

    <form method="post">
        {% csrf_token %}

        <div class="row-fluid">

            <span class="span6">
            {{ form.bank_account.label_tag }}
            {{ form.bank_account }}
            {{ form.bank_account.errors }}
            </span>

            <span class="span6">
            {{ form.benefactor.label_tag }}
            {{ form.benefactor }}
            {{ form.benefactor.errors }}
            </span>
        </div>
        <br/>

        <div class="row-fluid">

            <span class="span6">
            {{ form.date.label_tag }}
            {{ form.date }}
            {{ form.date.errors }}
            </span>

            <span class="span6">
            {{ form.clearing_date.label_tag }}
            {{ form.clearing_date }}
            {{ form.clearing_date.errors }}
            </span>
        </div>

        <br/>

        <div class="row-fluid" data-bind="with: particulars">

            <input type="hidden" name="particulars" data-bind="value: ko.toJSON($data, null, 2)"/>

            <table class="table table-bordered table-striped table-acubor table-sortable" id="voucher_table">
                <thead>
                <tr>
                    <th class="span1">SN</th>
                    <th class="span2">Cheque Number</th>
                    <th class="span2">Cheque Date</th>
                    <th class="span3">Drawee Bank</th>
                    <th class="span3">Branch/Address</th>
                    <th class="span2">Amount</th>
                    <th class="span1"></th>
                </tr>
                </thead>

                <tbody id="particulars-body">
                <!-- ko foreach: rows -->
                <tr>
                    <td>
                        <div class="drag_handle"><i class="icon-ellipsis-vertical"></i>
                        </div>
                        <span class="wid-pad pull-left" data-bind="text:  $index()+1"> </span>
                    </td>
                    <td data-bind="editableText: cheque_number"></td>
                    <td><input type="text" data-bind="value: cheque_date" class="date-picker"/></td>
                    <td data-bind="editableText: drawee_bank"></td>
                    <td data-bind="editableText: drawee_bank_address"></td>
                    <td data-bind="editableText: amount, numeric: true"></td>
                    <td><a class="icon-remove-sign" href="#" data-bind="click: $parent.removeRow"></a></td>
                </tr>
                <!-- /ko -->
                <tr>
                    <td colspan="2">
                        <a class="button" data-bind="click: addRow">
                            <i class="icon-plus-sign"></i> Add New Row
                        </a>
                    </td>
                    <td colspan="3">
                        <span class="pull-right"><strong>Grand Total</strong></span>
                    </td>
                    <td colspan="2">
                        <strong><span data-bind="text: $parent.grand_total()"></span></strong>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        {{ form.narration.label_tag }}
        {{ form.narration }}
        {{ form.narration.errors }}
        <br/>

        <button type="submit" class="btn">Save</button>
    </form>


{% endblock %}