{% extends "dashboard.html" %}

{% block title %} {{ scenario }} Electronic Fund Transfer In{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li><a href="{% url "list_bank_accounts" %}">Banking</a></li>
    <span class="divider"><i class="icon-angle-right"></i></span>
    <li><a href="{% url "new_electronic_fund_transfer_in" %}">Electronic Fund Transfer In</a></li>
{% endblock %}

{% block extra-head %}
    <script src="{{ STATIC_URL }}js/vendors/knockout.js"></script>
    <script src="{{ STATIC_URL }}js/ko_lib.js"></script>
    <script src="{{ STATIC_URL }}js/bank.js"></script>
    <script>
        $(document).ready(function () {
            {% load filters %}
            ko.applyBindings(new ElectronicFundReceiptViewModel({{data|jsonify}}));
        });
    </script>
{% endblock %}

{% block pageheader %}
    {{ request.company.voucher_settings.eft_in_heading }}
{% endblock %}

{% block content %}

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

        {{ form.voucher_no.label_tag }}
        <div class="input-append input-prepend input-mini dissolve">
            <span class="add-on">{{ request.company.voucher_settings.eft_in_prefix }}</span>
            {{ form.voucher_no }}
            <span class="add-on">{{ request.company.voucher_settings.eft_in_suffix }}</span>
        </div>

        {{ form.voucher_no.errors }}

        <div class="row-fluid">

            <span class="span6">
            {{ form.bank_account.label_tag }}
            {{ form.bank_account }}
            {{ form.bank_account.errors }}
            </span>

            <span class="span6">
            {{ form.benefactor.label_tag }}
            {{ form.benefactor }}
            {{ form.benefactor.errors }}
            </span>
        </div>
        <br/>

        <div class="row-fluid">

            <span class="span6">
            {{ form.date.label_tag }}
            {{ form.date }}
            {{ form.date.errors }}
            </span>

            <span class="span6">
            {{ form.clearing_date.label_tag }}
            {{ form.clearing_date }}
            {{ form.clearing_date.errors }}
            </span>
        </div>

        <br/>

        <div class="row-fluid" data-bind="with: particulars">

            <input type="hidden" name="particulars" data-bind="value: ko.toJSON($data, null, 2)"/>

            <table class="table table-bordered table-striped table-acubor table-sortable" id="voucher_table">
                <thead>
                <tr>
                    <th class="span1">SN</th>
                    <th class="span2">Transaction Number</th>
                    <th class="span2">Transaction Date</th>
                    <th class="span3">Drawee Bank</th>
                    <th class="span3">Branch/Address</th>
                    <th class="span2">Amount</th>
                    <th class="span1"></th>
                </tr>
                </thead>

                <tbody id="particulars-body">
                <!-- ko foreach: rows -->
                <tr>
                    <td class="with_ip">
                        <div class="drag_handle"><i class="icon-ellipsis-vertical"></i>
                        </div>
                        <span class="wid-pad pull-left" data-bind="text:  $index()+1"> </span>
                    </td>
                    <td data-bind="editableText: transaction_number"></td>
                    <td class="with_ip"><input type="text" data-bind="value: transaction_date" class="date-picker"
                                               data-date-format="yyyy-mm-dd"/></td>
                    <td data-bind="editableText: drawee_bank"></td>
                    <td data-bind="editableText: drawee_bank_address"></td>
                    <td data-bind="editableText: amount, numeric: true"></td>
                    <td>
                        <button class="close" data-bind="click: $parent.removeRow"><i class="icon-trash"></i></button>
                    </td>
                </tr>
                <!-- /ko -->
                <tr>
                    <td colspan="2">
                        <a class="button" data-bind="click: addRow">
                            <i class="icon-plus-sign"></i> Add New Row
                        </a>
                    </td>
                    <td colspan="3">
                        <span class="pull-right"><strong>Grand Total</strong></span>
                    </td>
                    <td colspan="2">
                        <strong><span data-bind="text: $parent.grand_total()"></span></strong>
                    </td>
                </tr>
                </tbody>
            </table>

        </div>

        <div class="row-fluid">

            <div class="span8">
                {{ form.narration.label_tag }}
                {{ form.narration }}
                {{ form.narration.errors }}
            </div>

            <div class="span4">
                {{ form.attachment.label_tag }}
                {{ form.attachment }}
                {{ form.attachment.errors }}
            </div>

        </div>

        <br/>

        <button type="submit" class="btn">Save</button>
        {% ifusergroup 'Owner' 'SuperOwner' 'Supervisor' %}
            <input class="btn" type="submit" value="Approve"
                   data-bind="click: $root.approve, visible: $root.id() && $root.status() == 'Unapproved'">
        {% endifusergroup %}
        {% if scenario == 'Update' %}
            <a class="btn btn-danger" href="{% url 'delete_electronic_fund_transfer_in' form.instance.id %}">Delete!</a>
        {% endif %}

    </form>

{% endblock %}