{% extends "dashboard.html" %}

{% block title %}Cheque Deposits{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "list_bank_accounts" %}">Bank Accounts</a></li>
    <span class="divider"><i class="icon-angle-right"></i></span>
    <li class="active">Cheque Deposits</li>
{% endblock %}

{% block head_end %}

{% endblock %}

{% block content %}

    <div class="page-header position-relative">
        <h1>
            Cheque Deposits
        </h1>
    </div>

    {% load pagination_tags %}
    {% load sorting_tags %}

    <div class="search-form">
        <a href="#" class="search-link">Search</a>

        <form action="" method="get">
            {{ objects.form.as_p }}
            <input type="submit" value="Search"/>
        </form>
    </div>



    {% autosort objects.qs as sorted_objects %}
    {% autopaginate sorted_objects 25 as paginated_objects %}

    <table class="table table-bordered table-striped table-sortable">
        <thead>
        <th>{% anchor date 'Date' %}</th>
        <th>{% anchor bank_account 'Bank Account' %}</th>
        <th>{% anchor clearing_date 'Clearing Date' %}</th>
        <th>{% anchor benefactor 'Benefactor (Given By)' %}</th>
        <th>Actions</th>
        </thead>
        <tbody>
        {% for item in paginated_objects %}
            <tr>
                <td>
                    {{ item.date }}
                </td>
                <td>{{ item.bank_account }}</td>
                <td>{{ item.clearing_date }}</td>
                <td>{{ item.benefactor }}</td>
                <td>
                    <a href="{% url 'update_cheque_deposit' item.id %}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn" href="{% url 'new_cheque_deposit' %}">New Cheque Deposit</a>

{% endblock %}