{% extends "dashboard.html" %}

{% block title %}Cheque Payments{% endblock %}

{% block breadcrumbs %}
    {{ block.super }}
    <li class="active"><a href="{% url "list_bank_accounts" %}">Bank Accounts</a></li>
    <span class="divider"><i class="icon-angle-right"></i></span>
    <li class="active">Cheque Payments</li>
{% endblock %}

{% block head_end %}

{% endblock %}

{% block content %}

    <div class="page-header position-relative">
        <h1>
            Cheque Payments
        </h1>
    </div>

    <table class="table table-bordered table-striped table-sortable">
        <thead>
        <th>Date</th>
        <th>Bank Account</th>
        <th>Cheque No.</th>
        <th>Beneficiary</th>
        <th>Amount</th>
        <th>Actions</th>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>
                    {{ item.date }}
                </td>
                <td>{{ item.bank_account }}</td>
                <td>{{ item.cheque_number }}</td>
                <td>{{ item.beneficiary }}</td>
                <td>{{ item.amount }}</td>
                <td>
                    <a href="{% url 'update_cheque_payment' item.id %}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}